<header class="header">
	<div class="wrapper header_wrapper">
		<div class="header_item">
			<a href="" class="header_logo">
				<img width="219" height="69" src="{{ directory }}/img/logo.svg" alt="">
			</a>
		</div>

		<div class="header_item">
			<div class="header_time" id="header-time">
				<p>
					<span>Будние дни:</span>
					<i>пн-пт:</i>
					с 9:00 до 21:00
				</p>
				<p>
					<span>Выходные:</span>
					<i>сб-вс:</i>
					с 10:00 до 18:00
				</p>
			</div>
		</div>

		<div class="header_item">
			<div class="header_phone">
				<a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a>
				<div class="header_phone-text">Единая справочная в Москве</div>
			</div>
		</div>

		<div class="header_item">
			<div class="header_buttons">
				<a href="#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать звонок</a>
				<a href="#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на прием</a>
			</div>
		</div>

		<div class="header_item __mobile">
			<div class="header_mobile">
				<a href="tel:+74952152442" class="header_mobile-tel"></a>
				<button class="header_mobile-nav">
					<i></i><i></i><i></i>
				</button>
			</div>
		</div>
	</div>
</header>

<nav class="nav">
	<div class="wrapper nav_wrapper">
		<div class="nav_content">
			<ul class="nav_ul" id="nav-1">
				<li class="active"><a href=""><span>Лечение</span></a></li>
				<li><a href=""><span>Имплантология</span></a></li>
				<li><a href=""><span>Протезирование</span></a></li>
				<li><a href=""><span>Хирургия</span></a></li>
				<li><a href=""><span>Ортондонтия</span></a></li>
				<li><a href=""><span>Гигиена</span></a></li>
				<li><a href=""><span>Детская стоматология</span></a></li>
			</ul>

			<ul class="nav_ul __type-2" id="nav-2">
				<li><a href=""><span>о клинике</span></a></li>
				<li><a href=""><span>цены</span></a></li>
				<li><a href=""><span>вопрос-ответ</span></a></li>
				<li><a href=""><span>контакты</span></a></li>
			</ul>

			<form class="nav_search" action="" id="nav-search">
				<div class="nav_search-inner">
					<input class="nav_input" type="text" placeholder="Поиск по сайту">
					<button class="nav_btn"></button>
				</div>
			</form>
		</div>
	</div>
</nav>

<div class="menu">
	<div class="menu_wrap">
		<div class="menu_top">
			<div class="wrapper">
				<div class="menu_nav-1" data-menu-id="#nav-1"></div>
				<div class="menu_nav-2" data-menu-id="#nav-2"></div>
				<div class="menu_search" data-menu-id="#nav-search"></div>
			</div>
		</div>

		<div class="menu_bottom">
			<div class="wrapper">
				<div class="menu_info">
					<div class="menu_phone">
						<div class="menu_tel" data-menu-id="#header-tel"></div>
						<div class="menu_recall-btn" data-menu-id="#header-recall-btn"></div>
					</div>

					<div class="menu_time" data-menu-id="#header-time"></div>
				</div>

				<div class="menu_order-btn" data-menu-id="#header-order-btn"></div>
			</div>
		</div>

		<button class="menu_close"></button>
	</div>
</div>

<div class="main">
	<div class="main_slider">
		<div>
			<div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
				<div class="wrapper main_wrapper">
					<div class="main_title">
						Коронки E-max
						<span>со скидкой 30 %</span>
					</div>

					<div class="main_text">
						<p>Изготовление коронок по технологии CAD/CAM</p>
						<p>Акция действует с 8 февраля 2018</p>
					</div>

					<div class="main_buttons">
						<a href="" class="button main_button">подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
				<div class="wrapper main_wrapper">
					<div class="main_title">
						Коронки E-max
						<span>со скидкой 30 %</span>
					</div>

					<div class="main_text">
						<p>Изготовление коронок по технологии CAD/CAM</p>
						<p>Акция действует с 8 февраля 2018</p>
					</div>

					<div class="main_buttons">
						<a href="" class="button main_button">подробнее</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
				<div class="wrapper main_wrapper">
					<div class="main_title">
						Коронки E-max
						<span>со скидкой 30 %</span>
					</div>

					<div class="main_text">
						<p>Изготовление коронок по технологии CAD/CAM</p>
						<p>Акция действует с 8 февраля 2018</p>
					</div>

					<div class="main_buttons">
						<a href="" class="button main_button">подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="wrapper main_arrows"></div>
</div>

<section class="about-num">
	<div class="wrapper">
		<h2>О нас в цифрах</h2>

		<div class="about-num_items">
			<div class="about-num_item">
				<div class="about-num_info">
					<div class="about-num_cnt">3</div>
					<p class="about-num_text">клиники в <br>Москве</p>
				</div>
			</div>
			<div class="about-num_item">
				<div class="about-num_info">
					<div class="about-num_cnt">20</div>
					<p class="about-num_text">лет успешной <br>работы</p>
				</div>
			</div>
			<div class="about-num_item">
				<div class="about-num_info">
					<div class="about-num_cnt">10000</div>
					<p class="about-num_text">пациентов <br>в год</p>
				</div>
			</div>
			<div class="about-num_item">
				<div class="about-num_info">
					<div class="about-num_cnt">170</div>
					<p class="about-num_text">отзывов <br>на сайте</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="service">
	<div class="wrapper">
		<h2>Наши услуги</h2>

		<div class="service_content">
			<div class="service_info">
				<div>
					<strong>Доказано, что здоровые зубы одно <br>из главных условий долголетия. <br>И что несвоевременное обращение <br>к стоматологу зачастую приводит <br>к возникновению других <br>заболеваний.</strong>
				</div>

				<p>При этом их спектр довольно обширен <br>– от нарушений работы желудка и <br>печени до возникновения различных <br>опухолей. Поэтому если появляются <br>даже малейшие проблемы, связанные <br>с зубами, необходимо немедленно <br>обращаться к специалистам.</p>

				<a href="#form-order" class="button service_btn popup">записаться на прием</a>
			</div>

			<div class="service_items">
				<a href="" class="service_item __mobile-visible">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/1.svg" width="50" height="53"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Лечение</header>
							<p>Кариес, пульпит</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item __mobile-visible">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/2.svg" width="46" height="55"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Имплантология</header>
							<p>Протезы на имплантах</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item __mobile-visible">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/3.svg" width="50" height="56"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Протезирование</header>
							<p>Металлокерамика, съемное</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item __mobile-visible">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/4.svg" width="45" height="65"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Хирургия</header>
							<p>Удаление, оперирование</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/5.svg" width="50" height="55"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Ортодонтия</header>
							<p>Исправление прикуса</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/6.svg" width="49" height="58"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Гигиена</header>
							<p>Отбеливание, чистка</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/7.svg" width="59" height="55"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Детская стоматология</header>
							<p>Для детей любого возраста</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/8.svg" width="57" height="54"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Диагностика</header>
							<p>Бесплатная консультация</p>
						</div>
					</div>
				</a>
				<a href="" class="service_item">
					<div class="service_data">
						<div class="service_image">
							<object data="{{ directory }}/img/service/9.svg" width="48" height="52"></object>
						</div>

						<div class="service_text">
							<header class="service_heading">Лечение в рассрочку</header>
							<p>Рассрочка без процентов</p>
						</div>
					</div>
				</a>
			</div>

			<a href="" class="button-light service_show-btn">смотреть весь список услуг</a>
		</div>
	</div>
</div>

<div class="clinics">
	<div class="wrapper">
		<header class="clinics_header">
			<h2>Наши клиники в</h2>
			<div class="clinics_city">
				<span class="js-city">Москве</span>

				<ul class="js-cities clinics_cities">
					<li><a href="#city-1">Москве</a></li>
					<li><a href="#city-2">Нижнем новгороде</a></li>
					<li><a href="#city-3">Самаре</a></li>
				</ul>
			</div>
		</header>
	</div>

	<div class="js-map clinics_data active" id="city-1">
		<div class="wrapper">
			<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
		</div>

		<div class="clinics_map-container">
			<div class="clinics_map" id="map-1"></div>

			<div class="clinics_content">
				<div class="wrapper clinics_wrapper">
					<div class="clinics_items">
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="js-map clinics_data" id="city-2">
		<div class="wrapper">
			<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
		</div>

		<div class="clinics_map-container">
			<div class="clinics_map" id="map-2"></div>

			<div class="clinics_content">
				<div class="wrapper clinics_wrapper">
					<div class="clinics_items">
						<div class="clinics_item">
							<h4 class="clinics_heading">Нижний новгород</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="js-map clinics_data" id="city-3">
		<div class="wrapper">
			<div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
		</div>

		<div class="clinics_map-container">
			<div class="clinics_map" id="map-3"></div>

			<div class="clinics_content">
				<div class="wrapper clinics_wrapper">
					<div class="clinics_items">
						<div class="clinics_item">
							<h4 class="clinics_heading">Самара</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
						<div class="clinics_item">
							<h4 class="clinics_heading">Взрослое и детское отделение</h4>

							<div class="clinics_item-content">
								<div class="clinics_image">
									<img src="{{ directory }}/img/clinic.jpg" alt="">
								</div>

								<div class="clinics_text">
									<p>метро Медведково</p>

									<p>г. Москва, <br>ул. Советская, 30А</p>

									<a href="">подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="sale">
	<div class="wrapper">
		<h2>Скидки для клиентов</h2>

		<div class="sale_items">
			<div class="sale_item">
				<div class="sale_cart">
					<a href="" class="sale_cart-content">
						<div class="sale_num">№ 000045</div>

						<div class="sale_logo">
							<img src="{{ directory }}/img/logo.svg" alt="">
						</div>

						<div class="sale_cart-text">
							<p>Скидка на лечение - <span>10%</span></p>
							<p>Скидка на протезирование - <span>5%</span></p>
						</div>
					</a>

					<div class="sale_cart-bottom">
						<p>Карта действительна в любой клинике сети. </p>
						<p>Подробности на сайте <a href="">www.kariesy.net</a></p>
					</div>
				</div>
			</div>

			<a href="" class="sale_item">
				<div class="sale_base" style="background-image: url({{ directory }}/img/sale_kid.jpg)">
					<p class="sale_main-txt">Скидка на детскую <br>стоматологию</p>
					<div class="sale_cnt">- 25%</div>
				</div>
			</a>

			<a href="" class="sale_item">
				<div class="sale_base" style="background-image: url({{ directory }}/img/sale_birth.jpg)">
					<p class="sale_main-txt">Дарим скидку <br>в день рождения</p>
					<div class="sale_cnt">- 30%</div>
				</div>
			</a>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="footer_top __1">
		<div class="wrapper">
			<div class="footer_top-content">
				<div class="footer_top-left">
					<div class="footer_top-heading">Мы работаем для вас без выходных!</div>
					<p class="footer_top-descr">Записаться можно по телефону:</p>
				</div>
				<div class="footer_top-right">
					<a href="tel:777" class="footer_top-phone">+7 (495) 215-24-42</a>
					<a href="#form-recall" class="button footer_top-btn popup">заказать звонок</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer_middle">
		<div class="wrapper">
			<div class="footer_row __only-flex">
				<div class="footer_col">
					<div class="footer_heading">Услуги</div>

					<div class="footer_row">
						<div class="footer_col">
							<ul class="footer_nav">
								<li><a href="">Лечение</a></li>
								<li><a href="">Имплантология</a></li>
								<li><a href="">Протезирование</a></li>
							</ul>
						</div>

						<div class="footer_col">
							<ul class="footer_nav">
								<li><a href="">Хирургия</a></li>
								<li><a href="">Ортодонтия</a></li>
								<li><a href="">Гигиена</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer_col">
					<div class="footer_heading">Навигация</div>

					<div class="footer_row">
						<div class="footer_col">
							<ul class="footer_nav">
								<li><a href="">Цены</a></li>
								<li><a href="">Клиники</a></li>
								<li><a href="">Доктора</a></li>
								<li><a href="">Пациентам</a></li>
							</ul>
						</div>

						<div class="footer_col">
							<ul class="footer_nav">
								<li><a href="">Отзывы</a></li>
								<li><a href="">Вакансии</a></li>
								<li><a href="">Карта сайта</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer_bottom">
		<div class="wrapper">
			<div class="footer_bottom-row">
				<a href="" class="footer_logo">
					<img src="{{ directory }}/img/logo2.svg" width="219" height="69" alt="">
				</a>

				<div class="footer_copy">© 1998-2017 «Кариесу.нет» ООО «КХЗ»</div>

				<div class="footer_socials">
					<div class="footer_socials-text">Мы в социальных сетях:</div>

					<div class="footer_socials-items">
						<a href=""><img src="{{ directory }}/img/vk.svg" alt=""></a>
						<a href=""><img src="{{ directory }}/img/facebook.svg" alt=""></a>
						<a href=""><img src="{{ directory }}/img/insta.svg" alt=""></a>
						<a href=""><img src="{{ directory }}/img/youtube.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="forms mfp-hide" id="form-recall">
	<form action="" class="form">
		<h4 class="form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</h4>

		<div class="form_item">
			<label class="form_label">Ваше имя</label>

			<div class="form_data">
				<input type="text" class="form_input">
			</div>
		</div>

		<div class="form_item">
			<label class="form_label">Номер телефона</label>

			<div class="form_data">
				<input type="tel" class="form_input">
			</div>
		</div>

		<div class="form_button">
			<button class="button" type="submit">заказать звонок</button>
		</div>
	</form>

	<button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms mfp-hide" id="form-reviews">
	<form action="" class="reviews_form forms_reviews">
		<div class="reviews_form-title">Оставить отзыв</div>

		<div class="reviews_form-item">
			<label class="reviews_label">Доктор</label>

			<div class="reviews_form-data">
				<select required>
					<option value="Доктор 1">Доктор 1</option>
					<option value="Доктор 2">Доктор 2</option>
				</select>
			</div>

			<div class="reviews_star">
				<div class="reviews_star-text __type-2">Оцените доктора:</div>

				<select class="no-select rating">
					<option></option>
					<option value="1"></option>
					<option value="2"></option>
					<option value="3"></option>
					<option value="4"></option>
					<option value="5"></option>
				</select>
			</div>
		</div>

		<div class="reviews_form-item">
			<label class="reviews_label">Клиника</label>

			<div class="reviews_form-data">
				<select required>
					<option value="Клиника 1">Клиника 1</option>
					<option value="Клиника 2">Клиника 2</option>
				</select>
			</div>

			<div class="reviews_star">
				<div class="reviews_star-text __type-2">Оцените клинику:</div>

				<select class="no-select rating">
					<option></option>
					<option value="1"></option>
					<option value="2"></option>
					<option value="3"></option>
					<option value="4"></option>
					<option value="5"></option>
				</select>
			</div>
		</div>

		<div class="reviews_form-item __offset-min">
			<label class="reviews_label">Ваш отзыв</label>

			<div class="reviews_form-data">
				<textarea required class="reviews_area"></textarea>
			</div>
		</div>

		<div class="reviews_form-item __offset-min-2">
			<div class="reviews_row">
				<div class="reviews_col">
					<input type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
				</div>
				<div class="reviews_col">
					<button type="submit" class="button">Оставить отзыв</button>
				</div>
			</div>
		</div>

		<div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
	</form>

	<button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __order mfp-hide" id="form-order">
	<form class="form">
		<h3 class="form_title">Запись на прием</h3>

		<div class="form_item">
			<label class="form_label">Услуга</label>

			<div class="form_data">
				<select>
					<option value="Ортопедия">Ортопедия</option>
					<option value="Ортопедия">Ортопедия</option>
					<option value="Ортопедия">Ортопедия</option>
					<option value="Ортопедия">Ортопедия</option>
				</select>
			</div>
		</div>

		<div class="form_item">
			<label class="form_label">Врач</label>

			<div class="form_data">
				<select>
					<option>Рыбин Валерий Анатольевич</option>
					<option>Рыбин Валерий Анатольевич</option>
					<option>Рыбин Валерий Анатольевич</option>
				</select>
			</div>
		</div>

		<div class="form_item">
			<label class="form_label">Дата и время приема</label>

			<div class="form_data">
				<div class="form_row">
					<div class="form_col">
						<div class="form_input-block">
							<input class="form_input date" type="text">
						</div>
					</div>
					<div class="form_col">
						<select>
							<option>10:30</option>
							<option>10:40</option>
							<option>10:50</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="form_item">
			<label class="form_label">Ваш контактный телефон</label>

			<div class="form_data">
				<input type="tel" class="form_input">
			</div>
		</div>
		<div class="form_item">
			<label class="form_label">Ваше имя</label>

			<div class="form_data">
				<input type="text" class="form_input">
			</div>
		</div>
		<div class="form_item">
			<label class="form_label">Комментарий (необязательно)</label>

			<div class="form_data">
				<textarea class="form_area"></textarea>
			</div>
		</div>

		<div class="form_button">
			<button type="submit" class="button">отправить</button>
		</div>
	</form>

	<button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __auth mfp-hide" id="form-auth">
	<form class="form">
		<div class="form_auth-title">Авторизоваться с помощью социальных сетей</div>

		<div class="form_socials">
			<a href=""><img src="{{ directory }}/img/vk.svg" alt=""></a>
			<a href=""><img src="{{ directory }}/img/facebook.svg" alt=""></a>
			<a href=""><img src="{{ directory }}/img/insta.svg" alt=""></a>
			<a href=""><img src="{{ directory }}/img/youtube.svg" alt=""></a>
		</div>
	</form>

	<button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __ok mfp-hide" id="form-call-ok">
	<div class="form">
		<div class="form_image">
			<img src="{{ directory }}/img/ico/ok.svg" width="59" alt="">
		</div>
		<p class="form_ok">Ваш вызов принят!</p>
	</div>

	<button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __normal mfp-hide" id="form-normal">
	<div class="form">
		<div class="form_normal">Ваша заявка принята!</div>
		<p class="form_normal-text">В ближайшее время с Вами свяжутся наши специалисты для подтверждения запроса</p>
	</div>

	<button type="button" class="forms_close popup-close"></button>
</div>