{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="wrapper">
            <div class="doctor_cart">
                {{ page.breadcrumbs }}
                <h1 class="doctor_name">{{ page.header }}</h1>
                <div class="doctor_description">
                    {{ doctorDescription }}
                </div>
                {% if doctorPhotoUrl != '' %}
                    <img class="doctor_image" src="{{ doctorPhotoUrl|raw }}" alt="">
                {% endif %}
                <div class="doctor_buttons">
                    <div class="doctor_btn">
                        <a href="#form-order" class="button popup">записаться на прием</a>
                    </div>
                    <div class="doctor_btn">
                        <a href="" class="button-light">задать вопрос</a>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
            {{ page.content }}
        {% endblock %}
    </div>
{% endblock %}