{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="main">
        <div class="main_slider">
            <div>
                <div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
                    <div class="wrapper main_wrapper">
                        <div class="main_title">
                            Коронки E-max
                            <span>со скидкой 30%</span>
                        </div>

                        <div class="main_text">
                            <p>Изготовление коронок по технологии CAD/CAM</p>
                            <p>Акция действует с 5 сентября 2019</p>
                        </div>

                        <div class="main_buttons">
                            <a href="/akcii/koronka-e-max-cadcam" class="button main_button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper main_arrows"></div>
    </div>

    <div class="about-num">
        <div class="wrapper">
            <div class="h2">О нас в цифрах</div>

            <div class="about-num_items">
                <a href="/clinics" class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">3</div>
                        <p class="about-num_text">клиники в <br>Москве</p>
                    </div>
                </a>
                <div class="about-num_item">
                  <div class="about-num_info">
                    <div class="about-num_cnt">{{ years_of_successful_work }}</div>
                    {% set cases = [2,0,1,1,1,2] %}
                    {% set cases_key = min(years_of_successful_work|number_format(0) % 10, 5) %}
                    {% set years_titles = ['год', 'года', 'лет'] %}
                    {% set key = (years_of_successful_work|number_format(0) % 100 > 4 and years_of_successful_work|number_format(0) % 100 < 20) ? 2 : cases[cases_key] %}
                    <p class="about-num_text">{{ years_titles[key] }} успешной <br>работы</p>
                  </div>
                </div>
                <div class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">10000</div>
                        <p class="about-num_text">пациентов <br>в год</p>
                    </div>
                </div>
                <a href="/feedback" class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">{{ reviews_count }}</div>
                        {% set cases_key = min(reviews_count|number_format(0) % 10, 5) %}
                        {% set reviews_titles = ['отзыв', 'отзыва', 'отзывов'] %}
                        {% set key = (reviews_count|number_format(0) % 100 > 4 and reviews_count|number_format(0) % 100 < 20) ? 2 : cases[cases_key] %}
                        <p class="about-num_text">{{ reviews_titles[key] }} <br>на сайте</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="service">
        <div class="wrapper">
            <div class="h2">Наши услуги</div>

            <div class="service_content">
                <div class="service_info">
                    <div>
                        <strong>Доказано, что здоровые зубы одно <br>из главных условий долголетия. <br>И что
                            несвоевременное обращение <br>к стоматологу зачастую приводит <br>к возникновению других
                            <br>заболеваний.</strong>
                    </div>

                    <p>При этом их спектр довольно обширен <br>– от нарушений работы желудка и <br>печени до
                        возникновения различных <br>опухолей. Поэтому если появляются <br>даже малейшие проблемы,
                        связанные <br>с зубами, необходимо немедленно <br>обращаться к специалистам.</p>

                    <a href="#form-order" class="button service_btn popup">записаться на прием</a>
                </div>

                <div class="service_items">
                    <a href="/uslugi/lechenie-zubov" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/1.svg" width="50" height="53"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Лечение</header>
                                <p>Кариес, пульпит</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/implantatsiya-zubov" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/implantologiya_glavnaya_str.svg" width="46" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Имплантология</header>
                                <p>Протезы на имплантах</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/protezirovanie-zubov" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/3.svg" width="50" height="56"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Протезирование</header>
                                <p>Металлокерамика, съемное</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/hirurgiya" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/4.svg" width="45" height="65"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Хирургия</header>
                                <p>Удаление, оперирование</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/orthodontia" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/5.svg" width="50" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Ортодонтия</header>
                                <p>Исправление прикуса</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/gigiena" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/6.svg" width="49" height="58"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Гигиена</header>
                                <p>Отбеливание, чистка</p>
                            </div>
                        </div>
                    </a>
                    <a href="/uslugi/detskaya-stomatologiya" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/7.svg" width="59" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Детская стоматология</header>
                                <p>Для детей любого возраста</p>
                            </div>
                        </div>
                    </a>
                    <div class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/8.svg" width="57" height="54"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Диагностика</header>
                                <p>Бесплатная консультация</p>
                            </div>
                        </div>
                    </div>
                    <div class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/9.svg" width="48" height="52"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Лечение в рассрочку</header>
                                <p>Рассрочка без процентов</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clinics">
        <div class="wrapper">
            <header class="clinics_header">
                <div class="h2">Наши клиники в Москве</div>
            </header>
        </div>

        <div class="js-map clinics_data active" id="city-1">
            <div class="wrapper">
                <div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
            </div>

            <div class="clinics_map-container">
                <div
                        class="clinics_map ya-map-container"
                        id="map-1"
                        data-ym_center="55.885170076293896,37.66451159802244"
                        data-ym_coords="55.89228906885038,37.67481300000002|||55.875657068867326,37.644431999999995|||55.87933856884694,37.64605799999998"
                        data-ym_balloon_content="Россия, Москва, Осташковская улица, 30|||Россия, Москва, проезд Шокальского, 11|||Россия, Москва, проезд Шокальского, 20"
                ></div>

                <div class="clinics_content">
                    <div class="wrapper clinics_wrapper">
                        <div class="clinics_items">
                            <div class="clinics_item">
                                <div class="clinics_heading">Взрослое и детское отделение</div>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="/sites/default/files/2019-01/clinic.jpg" alt="Кариесу.Нет Осташковская 30">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково, Бабушкинская</p>

                                        <p>г. Москва, <br>ул. Осташковская, 30</p>

                                        <a href="/clinics/clinic-1">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <div class="clinics_heading">Взрослое и детское отделение</div>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="/sites/default/files/2019-01/shok11_0x0_eb0_0_154x103.jpg" alt="Кариесу.Нет Шокальского 11">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково, Бабушкинская</p>

                                        <p>г. Москва, <br>пр. Шокальского, 11</p>

                                        <a href="/clinics/clinic-2">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <div class="clinics_heading">Взрослое отделение</div>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="/sites/default/files/2019-01/shok20_1_0x0_eb0_154x103.jpg" alt="Кариесу.Нет Шокальского 20">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково, Бабушкинская</p>

                                        <p>г. Москва, <br>пр. Шокальского, 20</p>

                                        <a href="/clinics/clinic-3">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sale">
        <div class="wrapper">
            <!--<div class="h2">Скидки для клиентов</div>

            <div class="sale_items">
                <div class="sale_item">
                    <div class="sale_cart">
                        <a href="" class="sale_cart-content">
                            <div class="sale_num">№ 000045</div>

                            <div class="sale_logo">
                                <img src="{{ directory }}/img/logo.svg" alt="">
                            </div>

                            <div class="sale_cart-text">
                                <p>Скидка на лечение - <span>10%</span></p>
                                <p>Скидка на протезирование - <span>5%</span></p>
                            </div>
                        </a>

                        <div class="sale_cart-bottom">
                            <p>Карта действительна в любой клинике сети. </p>
                            <p>Подробности на сайте <a href="">www.kariesy.net</a></p>
                        </div>
                    </div>
                </div>

                <a href="" class="sale_item">
                    <div class="sale_base" style="background-image: url({{ directory }}/img/sale_kid.jpg)">
                        <p class="sale_main-txt">Скидка на детскую <br>стоматологию</p>
                        <div class="sale_cnt">- 25%</div>
                    </div>
                </a>

                <a href="" class="sale_item">
                    <div class="sale_base" style="background-image: url({{ directory }}/img/sale_birth.jpg)">
                        <p class="sale_main-txt">Дарим скидку <br>в день рождения</p>
                        <div class="sale_cnt">- 30%</div>
                    </div>
                </a>
            </div>-->
        </div>
    </div>
    <div class="home-text page">
    	<div class="wrapper">
    		<h1>Стоматология в СВАО «Кариесу.нет»</h1>
			<p>Московская платная стоматология северо восточного округа (СВАО) «Кариесу.нет» принимает пациентов всех возрастов, включая детей. Ежедневно, с утра до вечера и без выходных. Для вас работают три отделения клиники. Прием ведут опытные врачи-стоматологи, которые постоянно совершенствуют и без того высокие профессиональные навыки. Их главная цель &mdash; сделать все, что можно, для помощи пациенту. И немного больше.</p>
			<p>Наша стоматологическая клиника оказывает услуги в таких областях своей отрасли медицины, как:</p>
			<ul>
				<li><a href="/uslugi/lechenie-zubov">Терапия</a>. Лечение зубов, десен, тканей пародонта с применением традиционных и современных методик.</li>
				<li><a href="/uslugi/hirurgiya">Хирургия</a>. Безболезненная экстракция (удаление) зуба. Проведение других видов стоматологических операций.</li>
				<li><a href="/uslugi/implantatsiya-zubov">Имплантация</a>. Все технологии установки имплантов &mdash; двухэтапная, одномоментная, All on 4(6) и другие.</li>
				<li><a href="/uslugi/protezirovanie-zubov">Ортопедия</a>. Все способы съемного и несъемного протезирования. Установка коронок любого вида, мостовидных протезов, условно-съемных конструкций.</li>
				<li><a href="/uslugi/orthodontia">Ортодонтия</a>. Исправление аномалий зубочелюстной системы, установка брекетов.</li>
				<li>Эстетическая стоматология. Прямые способы реставрации зубов, виниринг и другие методы восстановления красоты улыбки.</li>
				<li><a href="/uslugi/gigiena">Профессиональная гигиена</a> и отбеливание. Инструментальная и аппаратная чистка зубов. Выбор методов осветления эмали.</li>
			</ul>
			<h2>Довольные пациенты &mdash; наша главная реклама</h2>
			<p>В ответ на вопрос о том, где находится хорошая и недорогая стоматология в Москве, многие называют адреса клиник «Кариесу.нет». Нас рекомендуют потому, что:</p>
			<ul>
				<li>В клинике пациенты в полном объеме получают ту стоматологическую помощь, за которой пришли. Здесь работают профессионалы высокого уровня. Отделения оснащены всем необходимым оборудованием.</li>
				<li>Врачи, медсестры и остальной персонал доброжелательны и приветливы. Специалисты всегда дают развернутые ответы на вопросы пациентов.</li>
				<li>У нас работают опытные детские стоматологи, которые умеют найти подход к любому ребенку.</li>
			</ul>
			<p>До всех наших отделений легко добираться на автомобиле и общественном транспорте из любой точки Москвы. Записывайтесь на прием по телефону или на сайте.</p>
            <div class="pagination-block_more open">Развернуть</div>
		</div>
	</div>
{% endblock %}
