{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="doctor">
            <div class="wrapper">
                <div class="doctor_cart">
                    {{ page.breadcrumbs }}
                    <h1 class="doctor_name">{{ page.header }}</h1>
                    <div class="doctor_description">
                        {{ doctorDescription }}
                    </div>
                    {% if doctorPhotoUrl != '' %}
                        <img class="doctor_image" src="{{ doctorPhotoUrl|raw }}" alt="">
                    {% endif %}
                    <div class="doctor_buttons">
                        <div class="doctor_btn">
                            <a href="#form-order" class="button popup">записаться на прием</a>
                        </div>
                        <div class="doctor_btn">
                            <a href="#form-question" class="button-light popup">задать вопрос</a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
                {{ page.content }}
            {% endblock %}
        </div>

        <div class="wrapper">
            <div class="reviews __padding __padding-min">
                <h2>О нас говорят клиенты</h2>

                <div class="reviews_block">
                    <div class="reviews_left">
                        <div class="reviews_items">
                            <article class="reviews_item">
                                <div class="reviews_top">
                                    <div class="reviews_human">
                                        <div class="reviews_image">
                                            <img src="img/human.jpg" alt="">
                                        </div>

                                        <div class="reviews_human-content">
                                            <div class="reviews_name">Алексей В.</div>
                                            <div class="reviews_date">12.04.2017</div>
                                        </div>
                                    </div>

                                    <ul class="reviews_about">
                                        <li>О враче: <a href="">Хуриев Рамзес Русланович</a></li>
                                        <li>Клиника: <a href="">ул. Осташковская, 30</a></li>
                                    </ul>
                                </div>

                                <div class="reviews_text">Я попал в Стоматологию случайно. Днём разболелся зуб, и по дороге домой с работы я зашел возле дома в стоматологию. быстро решили мою проблему, внимательные врачи! Спасибо докторам на Велозаводской. Теперь я знаю, где мне всегда помогут.</div>
                            </article>

                            <article class="reviews_item">
                                <div class="reviews_top">
                                    <div class="reviews_human">
                                        <div class="reviews_image">
                                            <img src="img/human.jpg" alt="">
                                        </div>

                                        <div class="reviews_human-content">
                                            <div class="reviews_name">Алексей В.</div>
                                            <div class="reviews_date">12.04.2017</div>
                                        </div>
                                    </div>

                                    <ul class="reviews_about">
                                        <li>О враче: <a href="">Хуриев Рамзес Русланович</a></li>
                                        <li>Клиника: <a href="">ул. Осташковская, 30</a></li>
                                    </ul>
                                </div>

                                <div class="reviews_text">Я попал в Стоматологию случайно. Днём разболелся зуб, и по дороге домой с работы я зашел возле дома в стоматологию. быстро решили мою проблему, внимательные врачи! Спасибо докторам на Велозаводской. Теперь я знаю, где мне всегда помогут.</div>

                                <div class="reviews_images">
                                    <img src="img/a1.jpg" alt="">
                                    <img src="img/a2.jpg" alt="">
                                    <img src="img/a1.jpg" alt="">
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="reviews_right">
                        <form action="" class="reviews_form">
                            <div class="reviews_form-title">Оставить отзыв</div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Доктор</label>

                                <div class="reviews_form-data">
                                    <select required>
                                        <option value="Доктор 1">Доктор 1</option>
                                        <option value="Доктор 2">Доктор 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Клиника</label>

                                <div class="reviews_form-data">
                                    <select required>
                                        <option value="Клиника 1">Клиника 1</option>
                                        <option value="Клиника 2">Клиника 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">ФИО</label>

                                <div class="reviews_form-data">
                                    <input type="text" name="fio" class="review_form_item-fio" placeholder="Иванов И. И." required />
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">Ваш отзыв</label>

                                <div class="reviews_form-data">
                                    <textarea required class="reviews_area"></textarea>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min-2">
                                <div class="reviews_row">
                                    <div class="reviews_col">
                                        <input type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                                    </div>
                                    <div class="reviews_col">
                                        <button type="submit" class="button">Оставить отзыв</button>
                                    </div>
                                </div>
                            </div>

                            <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="doctor">
            <div class="doctor_work">
                <div class="wrapper">
                    <div class="doctor_work-row">
                        <div id="form-order-doctor-page" class="doctor_work-col">
                            <form class="doctor_form form" action="/keep-calm-custom-form-handler" data-success_form="#form-normal">
                                <input type="hidden" name="token" class="token">
                                <input type="hidden" name="action" class="captcha-action">
                                <input type="hidden" name="formName" value="appointment">
                                <h3 class="form_title">Запись на прием</h3>

                                <div class="form_item">
                                    <label class="form_label">Услуга</label>

                                    <div class="form_data">
                                        <select class="service-type" name="service">
                                            {% for serviceType in serviceTypesAll %}
                                                {# Формируем строку со списком докторов для каждой услуги #}
                                                {% set doctorsList = '' %}
                                                {% for doctor in serviceType.doctors %}
                                                    {% set doctorsList = doctorsList ~ doctor.name %}
                                                    {% if not loop.last %}
                                                        {% set doctorsList = doctorsList ~ '|' %}
                                                    {% endif %}
                                                {% endfor %}
                                                <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}"
                                                        {% if defaultServiceForForm is defined and defaultServiceForForm == serviceType.name %}
                                                            selected
                                                        {% endif %}
                                                >
                                                    {{ serviceType.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form_item">
                                    <label class="form_label">Врач</label>

                                    <div class="form_data">
                                        <select class="doctors-select" name="doctor">
                                            {% set firstServiceType = serviceTypesAll|first %}
                                            {% for doctor in firstServiceType.doctors %}
                                                <option value="{{ doctor.name }}" data-doctor-nid="{{ nid }}">{{ doctor.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form_item">
                                    <label class="form_label">Желаемые дата и время приема</label>

                                    <div class="form_data">
                                        <div class="form_row">
                                            <div class="form_col">
                                                <div class="form_input-block">
                                                    <input class="form_input date" type="text" name="date">
                                                </div>
                                            </div>
                                            <div class="form_col">
                                                <select name="time">
                                                    <option value="08:00">08:00</option>
                                                    <option value="08:10">08:10</option>
                                                    <option value="08:20">08:20</option>
                                                    <option value="08:30">08:30</option>
                                                    <option value="08:40">08:40</option>
                                                    <option value="08:50">08:50</option>
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:10">09:10</option>
                                                    <option value="09:20">09:20</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="09:40">09:40</option>
                                                    <option value="09:50">09:50</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:10">10:10</option>
                                                    <option value="10:20">10:20</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="10:40">10:40</option>
                                                    <option value="10:50">10:50</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="11:10">11:10</option>
                                                    <option value="11:20">11:20</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="11:40">11:40</option>
                                                    <option value="11:50">11:50</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:10">12:10</option>
                                                    <option value="12:20">12:20</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="12:40">12:40</option>
                                                    <option value="12:50">12:50</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:10">13:10</option>
                                                    <option value="13:20">13:20</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="13:40">13:40</option>
                                                    <option value="13:50">13:50</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:10">14:10</option>
                                                    <option value="14:20">14:20</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="14:40">14:40</option>
                                                    <option value="14:50">14:50</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:10">15:10</option>
                                                    <option value="15:20">15:20</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="15:40">15:40</option>
                                                    <option value="15:50">15:50</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:10">16:10</option>
                                                    <option value="16:20">16:20</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="16:40">16:40</option>
                                                    <option value="16:50">16:50</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:10">17:10</option>
                                                    <option value="17:20">17:20</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="17:40">17:40</option>
                                                    <option value="17:50">17:50</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:10">18:10</option>
                                                    <option value="18:20">18:20</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="18:40">18:40</option>
                                                    <option value="18:50">18:50</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваш контактный телефон</label>

                                    <div class="form_data">
                                        <input name="phone" type="tel" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваше имя</label>

                                    <div class="form_data">
                                        <input name="name" type="text" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Комментарий (необязательно)</label>

                                    <div class="form_data">
                                        <textarea name="comment" class="form_area"></textarea>
                                    </div>
                                </div>

                                <div class="form_button">
                                    <button type="submit" class="button">отправить</button>
                                </div>
                            </form>
                        </div>
                        <div class="doctor_work-col">
                            {{ page.clinic_list_on_doctor_page }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterFooterAdd %}
    <div class="forms __order mfp-hide" id="form-question">
        <form class="form" action="/keep-calm-custom-form-handler" data-success_form="#form-question-ok">
            <input type="hidden" name="token" class="token">
            <input type="hidden" name="action" class="captcha-action">
            <input type="hidden" name="formName" value="question">
            <input type="hidden" name="doctor" value="{{ doctorName }}">
            <h3 class="form_title">Задать вопрос доктору "{{ doctorName }}"</h3>
            <div class="form_item">
                <label class="form_label">Ваш контактный телефон</label>

                <div class="form_data">
                    <input name="phone" type="tel" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваше имя</label>

                <div class="form_data">
                    <input name="name" type="text" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Вопрос</label>

                <div class="form_data">
                    <textarea name="question" class="form_area" required></textarea>
                </div>
            </div>

            <div class="form_button">
                <button type="submit" class="button">отправить</button>
            </div>
        </form>
        <button type="button" class="forms_close popup-close"></button>
    </div>

    <div class="forms __normal mfp-hide" id="form-question-ok">
        <div class="form">
            <div class="form_normal">Ваша вопрос получен!</div>
        </div>

        <button type="button" class="forms_close popup-close"></button>
    </div>
{% endblock %}