{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content">
        <div class="top __1 __border-none">
            <div class="wrapper">
                {{ page.breadcrumbs }}
                <h1>{{ page.header }}</h1>
            </div>
        </div>

        <section class="comfort-level">
            <div class="wrapper">
                <h2>Бесплатный уровень комфорта</h2>

                <div class="comfort-level_items">
                    <div class="comfort-level_item">
                        <div class="comfort-level_info">
                            <div class="comfort-level_img"><img src="/{{ directory }}/img/comfort-level-icons/1.png" alt=""></div>
                            <p class="comfort-level_text">Wi-fi</p>
                        </div>
                    </div>
                    <div class="comfort-level_item">
                        <div class="comfort-level_info">
                            <div class="comfort-level_img"><img src="/{{ directory }}/img/comfort-level-icons/2.png" alt=""></div>
                            <p class="comfort-level_text">Гигиенический набор</p>
                        </div>
                    </div>
                    <div class="comfort-level_item">
                        <div class="comfort-level_info">
                            <div class="comfort-level_img"><img src="/{{ directory }}/img/comfort-level-icons/3.png" alt=""></div>
                            <p class="comfort-level_text">Общественная парковка</p>
                        </div>
                    </div>
                    <div class="comfort-level_item">
                        <div class="comfort-level_info">
                            <div class="comfort-level_img"><img src="/{{ directory }}/img/comfort-level-icons/4.png" alt=""></div>
                            <p class="comfort-level_text">Кофе, чай</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-clinic-first">
            <div class="wrapper">
                <div class="about-clinic-first_items">
                    <div class="first-item">
                        <p>
                            Стоматологи  расположена прямо между двумя ключевыми станциями московского метрополитена — Дубровка и Автозаводская, по Велозаводской улице. Это один из самых удачных, с точки зрения своего расположения, центров сети «Юнидент». Находясь в центре столицы, клиника стоматологии позволяет своим посетителям существенно сократить время, затрачиваемое на поездку до учреждения.
                        </p>
                        <div class="first-item_mobile">
                            <p>
                                При этом добираться до центра одинаково удобно как на общественном транспорте, так и на личном авто. Подъезд непосредственно к стоматологической клинике на метро Автозаводская оборудован и со стороны Третьего, и со стороны Садового кольца. Где бы вы ни находились, вы всегда сможете доехать  буквально за несколько десятков минут.
                            </p>
                            <p>
                                Стоматологи  расположена прямо между двумя ключевыми станциями московского метрополитена — Дубровка и Автозаводская, по Велозаводской улице. Это один из самых удачных, с точки зрения своего расположения, центров сети «Юнидент». Находясь в центре столицы, клиника стоматологии позволяет своим посетителям существенно сократить время, затрачиваемое на поездку до учреждения.
                            </p>
                            <p>
                                При этом добираться до центра одинаково удобно как на общественном транспорте, так и на личном авто. Подъезд непосредственно к стоматологической клинике на метро Автозаводская оборудован и со стороны Третьего, и со стороны Садового кольца. Где бы вы ни находились, вы всегда сможете доехать  буквально за несколько десятков минут. Стоматологи  расположена прямо между двумя ключевыми станциями московского метрополитена — Дубровка и Автозаводская, по Велозаводской улице. Это один из самых удачных, с точки зрения своего расположения, центров сети «Юнидент». Находясь в центре столицы, клиника стоматологии позволяет своим посетителям существенно сократить время, затрачиваемое на поездку до учреждения.
                            </p>
                        </div>
                        <div class="first-item-mobile-spoiler">
                            <a id="show-mobile" class="show-first-item-mobile">читать далее</a>
                        </div>
                    </div>
                    <div class="second-item">
                        <p class="title">Победители премии «Хрустальный Лотос-2017»</p>
                        <img src="/{{ directory }}/img/lotus.jpg" alt="">
                        <p class="description">
                            Четвертая церемония награждения Всероссийской Бьюти-премии «Хрустальный Лотос» состоялась 1 ноября 2017 года в Москве. Мы стали одними из лучших представителей индустрии красоты.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        {{ page.doctor_list_on_about_page }}

        <section class="about-clinic-second">
            <div class="wrapper">
                <div class="about-clinic-second_items">
                    <div class="about-clinic-second_item">
                        <div class="title">
                            <h2>Безопасно</h2>
                        </div>
                        <div class="about-clinic-second_item_desk">
                            <div class="text">
                                <p>
                                    У нас особый подход к стерилизации, а также мы используем индивидуальный стерильный набор анестезии, не только с одноразовой иглой но и шприцом.
                                </p>
                                <p>
                                    Стоматологический карпульный инъектор ARTIJECT разработан с учетом рекомендаций Всемирной Организации Здравоохранения, относящихся к процедуре безопасной инъекции. Новые «умные» инъекторы, рекомендуемые ВОЗ для одноразовых инъекций, должны иметь такие приспособления, которые не позволяют использовать их повторно.
                                </p>
                                <p>
                                    Конструкция инъектора исключает возможность его повторного использования. Специальная предохранительная насадка имеет блокировку обратного хода и не позволяет использовать инъектор повторно после процедуры инъекции.
                                </p>
                            </div>
                            <img src="/{{ directory }}/img/about-clinic-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="about-clinic-second_item">
                        <div class="title">
                            <h2 class="two">Удобно</h2>
                        </div>
                        <div class="about-clinic-second_item_desk two">
                            <div class="text two">
                                <p>
                                    У нас собственная лаборатория.
                                </p>
                                <p>
                                    Стоматологический карпульный инъектор ARTIJECT разработан с учетом рекомендаций Всемирной Организации Здравоохранения, относящихся к процедуре безопасной инъекции. Новые «умные» инъекторы, рекомендуемые ВОЗ для одноразовых инъекций, должны иметь такие приспособления, которые не позволяют использовать их повторно.
                                </p>
                                <p>
                                    Конструкция инъектора исключает возможность его повторного использования. Специальная предохранительная насадка имеет блокировку обратного хода и не позволяет использовать инъектор повторно после процедуры инъекции.
                                </p>
                            </div>
                            <img src="/{{ directory }}/img/about-clinic-2.jpg" alt="">
                        </div>
                    </div>
                    <div class="about-clinic-second_item">
                        <div class="title">
                            <h2>Доступно</h2>
                        </div>
                        <div class="about-clinic-second_item_desk">
                            <div class="text">
                                <p>
                                    Применяем CAD/CAM системы в стоматологии для создания зубопротезных конструкций.
                                </p>
                                <p>
                                    Протезирование осуществляется за один сеанс. Подготовка зубов к реставрации осуществляется по стандартным методикам. Далее создается трехмерная компьютерная модель препарирования, антагонистов и реставрации в специальной программе CEREC 3D при помощи сканирующего устройства CEREC Bluecam. После этого врач-стоматолог формирует в программе модель керамического микропротеза, после чего подбирает заготовку соответствующего цвета и размера и помещает в шлифовальный блок (CEREC MC XL, CEREC 3), где и вытачивается сам протез. Аппарату требуется всего 15-20 минут для изготовления протеза, после чего врач может приступать к его примерке и фиксации.
                                </p>
                            </div>
                            <img src="/{{ directory }}/img/about-clinic-3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}