{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="doctor">
            <div class="wrapper">
                <div class="doctor_cart">
                    {{ page.breadcrumbs }}
                    <h1 class="doctor_name">{{ page.header }}</h1>
                    <div class="doctor_description">
                        {{ doctorDescription }}
                    </div>
                    {% if doctorPhotoUrl != '' %}
                        <img class="doctor_image" src="{{ doctorPhotoUrl|raw }}" alt="">
                    {% endif %}
                    <div class="doctor_buttons">
                        <div class="doctor_btn">
                            <a href="#form-order-doctor-page-popup" class="button popup">записаться на прием</a>
                        </div>
                        <div class="doctor_btn">
                            <a href="#form-question" class="button-light popup">задать вопрос</a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
                {{ page.content }}
            {% endblock %}
        </div>

        <div class="wrapper">
            <div class="reviews __padding __padding-min">
                <div class="h2">О нас говорят клиенты</div>

                <div class="reviews_block">
                    <div class="reviews_left">
                        <div class="reviews_items">
                          {% if reviews|trim == '' %}
                            Никто ещё не оставлял отзыва об этом враче.
                          {% else %}
                            {{ reviews }}
                            {% if reviews_count > 3 %}
                              <div class="all_reviews_for_doctor link_wrapper">
                                <a href="/feedback?clinic=&doc={{ current_nid }}" class="button">Все отзывы о докторе</a>
                              </div>
                            {% endif %}
                          {% endif %}
                        </div>
                    </div>

                    <div class="reviews_right" id="form-review">
                        <div class="wait-form"></div>
                        <form id="review-form-on-doctor-page" enctype="multipart/form-data" action="/keep-calm-custom-form-handler" data-success_form="#form-review-send" class="reviews_form" data-eventLabel="form-feedback">
                            <input type="hidden" name="token" class="token">
                            <input type="hidden" name="action" class="captcha-action">
                            <input type="hidden" name="formName" value="review">
                            <div class="reviews_form-title">Оставить отзыв</div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Доктор</label>

                                <div class="reviews_form-data">
                                    <select name="doctor">
                                        {% for nid,doctor in doctors %}
                                            {# Формируем строку со списком клиник для каждого доктора #}
                                            {% set clinicsList = '' %}
                                            {% for clinicNid in doctors_clinic[nid] %}
                                              {% set clinicsList = clinicsList ~ clinics[clinicNid] ~ ':::' ~ clinicNid %}
                                              {% if not loop.last %}
                                                {% set clinicsList = clinicsList ~ '|' %}
                                              {% endif %}
                                            {% endfor %}
                                            <option value="{{ nid }}" data-clinic_list="{{ clinicsList }}"
                                              {% if defaultDoctorForFeedback is defined and defaultDoctorForFeedback == nid %}
                                                selected
                                              {% endif %}
                                            >{{ doctor }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Клиника</label>

                                <div class="reviews_form-data">
                                    <select name="clinic">
                                        {% for clinicNid in doctors_clinic[defaultDoctorForFeedback] %}
                                            <option value="{{ clinicNid }}">{{ clinics[clinicNid] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">Ваше имя</label>

                                <div class="reviews_form-data">
                                    <input type="text" name="fio" class="review_form_item-fio" placeholder="" required />
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">Ваш отзыв</label>

                                <div class="reviews_form-data">
                                    <textarea name="review-text" required class="reviews_area"></textarea>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min-2">
                                <div class="reviews_row">
                                    <div class="reviews_col">
                                        <input id="photos" name="photos" type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                                    </div>
                                    <div class="reviews_col">
                                        <button type="submit" class="button">Оставить отзыв</button>
                                    </div>
                                </div>
                            </div>

                            <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="doctor">
            <div class="doctor_work">
                <div class="wrapper">
                    <div class="doctor_work-row">
                        <div id="form-order-doctor-page" class="doctor_work-col">
                            <div class="wait-form"></div>
                            <form id="form-order-doctor-page-form" class="doctor_form form" action="/keep-calm-custom-form-handler" data-success_form="#form-normal">
                                <input type="hidden" name="token" class="token">
                                <input type="hidden" name="action" class="captcha-action">
                                <input type="hidden" name="formName" value="appointment">
                                <div class="h3 form_title">Запись на прием</div>

                                <div class="form_item">
                                    <label class="form_label">Услуга</label>

                                    <div class="form_data">
                                        <select class="service-type" name="service">
                                            {% for serviceType in serviceTypesAll %}
                                                {# Формируем строку со списком докторов для каждой услуги #}
                                                {% set doctorsList = 'Любой:::no_matter|' %}
                                                {% for doctor in serviceType.doctors %}
                                                    {% set doctorsList = doctorsList ~ doctor.name ~ ':::' ~ doctor.nid %}
                                                    {% if not loop.last %}
                                                        {% set doctorsList = doctorsList ~ '|' %}
                                                    {% endif %}
                                                {% endfor %}
                                                <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}"
                                                        {% if defaultServiceForForm is defined and defaultServiceForForm == serviceType.name %}
                                                            selected
                                                        {% endif %}
                                                >
                                                    {{ serviceType.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form_item">
                                    <label class="form_label">Врач</label>
                                    <div class="form_data">
                                      <select class="doctors-select" name="doctor">
                                        <option value="Любой" data-doctor-nid="no_matter">Любой</option>
                                        {% for nid, name in doctors %}
                                        <option value="{{ name }}" data-doctor-nid="{{ nid }}"
                                          {% if defaultDoctor is defined and defaultDoctor == nid %}
                                            selected
                                          {% endif %}
                                        >{{ name }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>
                                <div class="form_item not_desired_date_time">
                                  На ближайший месяц запись к выбранному специалисту невозможна. С вами свяжется администратор для уточнения деталей.
                                </div>
                                <div class="form_item desired_date_time">
                                    <label class="form_label">Желаемые дата и время приема</label>

                                    <div class="form_data">
                                        <div class="form_row">
                                            <div class="form_col">
                                                <div class="data_time_stub"></div>
                                                <div class="form_input-block">
                                                    <input class="form_input date" type="text" name="date">
                                                </div>
                                            </div>
                                            <div class="form_col">
                                                <div class="data_time_stub"></div>
                                                <select class="time_intervals" name="time">
                                                  <option value="09:00">09:00</option>
                                                  <option value="09:15">09:15</option>
                                                  <option value="09:30">09:30</option>
                                                  <option value="09:45">09:45</option>
                                                  <option value="10:00">10:00</option>
                                                  <option value="10:15">10:15</option>
                                                  <option value="10:30">10:30</option>
                                                  <option value="10:45">10:45</option>
                                                  <option value="11:00">11:00</option>
                                                  <option value="11:15">11:15</option>
                                                  <option value="11:30">11:30</option>
                                                  <option value="11:45">11:45</option>
                                                  <option value="12:00">12:00</option>
                                                  <option value="12:15">12:15</option>
                                                  <option value="12:30">12:30</option>
                                                  <option value="12:45">12:45</option>
                                                  <option value="13:00">13:00</option>
                                                  <option value="13:15">13:15</option>
                                                  <option value="13:30">13:30</option>
                                                  <option value="13:45">13:45</option>
                                                  <option value="14:00">14:00</option>
                                                  <option value="14:15">14:15</option>
                                                  <option value="14:30">14:30</option>
                                                  <option value="14:45">14:45</option>
                                                  <option value="15:00">15:00</option>
                                                  <option value="15:15">15:15</option>
                                                  <option value="15:30">15:30</option>
                                                  <option value="15:45">15:45</option>
                                                  <option value="16:00">16:00</option>
                                                  <option value="16:15">16:15</option>
                                                  <option value="16:30">16:30</option>
                                                  <option value="16:45">16:45</option>
                                                  <option value="17:00">17:00</option>
                                                  <option value="17:15">17:15</option>
                                                  <option value="17:30">17:30</option>
                                                  <option value="17:45">17:45</option>
                                                  <option value="18:00">18:00</option>
                                                  <option value="18:15">18:15</option>
                                                  <option value="18:30">18:30</option>
                                                  <option value="18:45">18:45</option>
                                                  <option value="19:00">19:00</option>
                                                  <option value="19:15">19:15</option>
                                                  <option value="19:30">19:30</option>
                                                  <option value="19:45">19:45</option>
                                                  <option value="20:00">20:00</option>
                                                  <option value="20:15">20:15</option>
                                                  <option value="20:30">20:30</option>
                                                  <option value="20:45">20:45</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваш контактный телефон</label>

                                    <div class="form_data">
                                        <input name="phone" type="tel" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваше имя</label>

                                    <div class="form_data">
                                        <input name="name" type="text" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Комментарий (необязательно)</label>

                                    <div class="form_data">
                                        <textarea name="comment" class="form_area"></textarea>
                                    </div>
                                </div>

                                <div class="form_button">
                                    <button type="submit" class="button">отправить</button>
                                </div>
                            </form>
                        </div>
                        <div class="doctor_work-col">
                            {{ page.clinic_list_on_doctor_page }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterFooterAdd %}
    <div class="forms __order mfp-hide" id="form-question">
        <form id="question-for-doctor-form" class="form" action="/keep-calm-custom-form-handler" data-success_form="#form-question-ok">
            <div class="wait-form"></div>
            <input type="hidden" name="token" class="token">
            <input type="hidden" name="action" class="captcha-action">
            <input type="hidden" name="formName" value="question">
            <input type="hidden" name="doctor" value="{{ doctorName }}">
            <div class="h3 form_title">Задать вопрос доктору "{{ doctorName }}"</div>
            <div class="form_item">
                <label class="form_label">Ваш контактный телефон</label>

                <div class="form_data">
                    <input name="phone" type="tel" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваше имя</label>

                <div class="form_data">
                    <input name="name" type="text" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Вопрос</label>

                <div class="form_data">
                    <textarea name="question" class="form_area" required></textarea>
                </div>
            </div>

            <div class="form_button">
                <button type="submit" class="button">отправить</button>
            </div>
        </form>
        <button type="button" class="forms_close popup-close"></button>
    </div>

    <div class="forms __normal mfp-hide" id="form-question-ok">
        <div class="form">
            <div class="form_normal">Ваш вопрос получен!</div>
        </div>

        <button type="button" class="forms_close popup-close"></button>
    </div>

    <div class="forms __order mfp-hide" id="form-order-doctor-page-popup">
        <form id="form-order-doctor-page-popup-form" class="form" action="/keep-calm-custom-form-handler" data-success_form="#form-normal">
            <div class="wait-form"></div>
            <input type="hidden" name="token" class="token">
            <input type="hidden" name="action" class="captcha-action">
            <input type="hidden" name="formName" value="appointment">
            <div class="h3 form_title">Запись на прием</div>

            <div class="form_item">
                <label class="form_label">Услуга</label>

                <div class="form_data">
                    <select class="service-type" name="service">
                        {% for serviceType in serviceTypesAll %}
                            {# Формируем строку со списком докторов для каждой услуги #}
                            {% set doctorsList = 'Любой:::no_matter|' %}
                            {% for doctor in serviceType.doctors %}
                                {% set doctorsList = doctorsList ~ doctor.name ~ ':::' ~ doctor.nid %}
                                {% if not loop.last %}
                                    {% set doctorsList = doctorsList ~ '|' %}
                                {% endif %}
                            {% endfor %}
                            <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}"
                                    {% if defaultServiceForForm is defined and defaultServiceForForm == serviceType.name %}
                                        selected
                                    {% endif %}
                            >
                                {{ serviceType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form_item">
                <label class="form_label">Врач</label>
                <div class="form_data">
                  <select class="doctors-select" name="doctor">
                    <option value="Любой" data-doctor-nid="no_matter">Любой</option>
                    {% for nid, name in doctors %}
                      <option value="{{ name }}" data-doctor-nid="{{ nid }}"
                        {% if defaultDoctor is defined and defaultDoctor == nid %}
                          selected
                        {% endif %}
                      >{{ name }}</option>
                    {% endfor %}
                  </select>
                </div>
            </div>
            <div class="form_item not_desired_date_time">
              На ближайший месяц запись к выбранному специалисту невозможна. С вами свяжется администратор для уточнения деталей.
            </div>
            <div class="form_item desired_date_time">
                <label class="form_label">Желаемые дата и время приема</label>

                <div class="form_data">
                    <div class="form_row">
                        <div class="form_col">
                            <div class="data_time_stub"></div>
                            <div class="form_input-block">
                                <input class="form_input date" type="text" name="date">
                            </div>
                        </div>
                        <div class="form_col">
                            <div class="data_time_stub"></div>
                            <select class="time_intervals" name="time">
                              <option value="09:00">09:00</option>
                              <option value="09:15">09:15</option>
                              <option value="09:30">09:30</option>
                              <option value="09:45">09:45</option>
                              <option value="10:00">10:00</option>
                              <option value="10:15">10:15</option>
                              <option value="10:30">10:30</option>
                              <option value="10:45">10:45</option>
                              <option value="11:00">11:00</option>
                              <option value="11:15">11:15</option>
                              <option value="11:30">11:30</option>
                              <option value="11:45">11:45</option>
                              <option value="12:00">12:00</option>
                              <option value="12:15">12:15</option>
                              <option value="12:30">12:30</option>
                              <option value="12:45">12:45</option>
                              <option value="13:00">13:00</option>
                              <option value="13:15">13:15</option>
                              <option value="13:30">13:30</option>
                              <option value="13:45">13:45</option>
                              <option value="14:00">14:00</option>
                              <option value="14:15">14:15</option>
                              <option value="14:30">14:30</option>
                              <option value="14:45">14:45</option>
                              <option value="15:00">15:00</option>
                              <option value="15:15">15:15</option>
                              <option value="15:30">15:30</option>
                              <option value="15:45">15:45</option>
                              <option value="16:00">16:00</option>
                              <option value="16:15">16:15</option>
                              <option value="16:30">16:30</option>
                              <option value="16:45">16:45</option>
                              <option value="17:00">17:00</option>
                              <option value="17:15">17:15</option>
                              <option value="17:30">17:30</option>
                              <option value="17:45">17:45</option>
                              <option value="18:00">18:00</option>
                              <option value="18:15">18:15</option>
                              <option value="18:30">18:30</option>
                              <option value="18:45">18:45</option>
                              <option value="19:00">19:00</option>
                              <option value="19:15">19:15</option>
                              <option value="19:30">19:30</option>
                              <option value="19:45">19:45</option>
                              <option value="20:00">20:00</option>
                              <option value="20:15">20:15</option>
                              <option value="20:30">20:30</option>
                              <option value="20:45">20:45</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваш контактный телефон</label>

                <div class="form_data">
                    <input name="phone" type="tel" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваше имя</label>

                <div class="form_data">
                    <input name="name" type="text" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Комментарий (необязательно)</label>

                <div class="form_data">
                    <textarea name="comment" class="form_area"></textarea>
                </div>
            </div>

            <div class="form_button">
                <button type="submit" class="button">отправить</button>
            </div>
        </form>

        <button type="button" class="forms_close popup-close"></button>
    </div>
{% endblock %}
