{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content">
        <div class="top __1">
            <div class="wrapper">
                {{ page.breadcrumbs }}

                <h1>{{ page.header }}</h1>
            </div>
        </div>
        {% block content %}
            <div class="content_main __no-padding">
                <div class="wrapper">
                    <div class="reviews">
                        <div class="reviews_block">
                            <div class="reviews_left">
                                {{ page.content }}
                            </div>

                            <div class="reviews_right" id="form-review">
                                <form id="review-form-on-doctor-page" enctype="multipart/form-data" action="/keep-calm-custom-form-handler" data-success_form="#form-review-send" class="reviews_form" data-eventLabel="form-feedback">
                                    <div class="wait-form feedback-page-wait-form"></div>
                                    <input type="hidden" name="token" class="token">
                                    <input type="hidden" name="action" class="captcha-action">
                                    <input type="hidden" name="formName" value="review">
                                    <div class="reviews_form-title">Оставить отзыв</div>

                                    <div class="reviews_form-item">
                                        <label class="reviews_label">Доктор</label>

                                        <div class="reviews_form-data">
                                            <select name="doctor">
                                                {% for nid,doctor in doctors %}
                                                    <option value="{{ nid }}">{{ doctor }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="reviews_form-item">
                                        <label class="reviews_label">Клиника</label>

                                        <div class="reviews_form-data">
                                            <select name="clinic">
                                                {% for nid,clinic in clinics %}
                                                    <option value="{{ nid }}">{{ clinic }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="reviews_form-item __offset-min">
                                        <label class="reviews_label">Фамилия И. О.</label>

                                        <div class="reviews_form-data">
                                            <input type="text" name="fio" class="review_form_item-fio" placeholder="Иванов И. И." required />
                                        </div>
                                    </div>

                                    <div class="reviews_form-item __offset-min">
                                        <label class="reviews_label">Ваш отзыв</label>

                                        <div class="reviews_form-data">
                                            <textarea name="review-text" required class="reviews_area"></textarea>
                                        </div>
                                    </div>

                                    <div class="reviews_form-item __offset-min-2">
                                        <div class="reviews_row">
                                            <div class="reviews_col">
                                                <input id="photos" name="photos" type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                                            </div>
                                            <div class="reviews_col">
                                                <button type="submit" class="button">Оставить отзыв</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clinics __padding __offset-top __bordered">
                    <div class="clinics_content __base">
                        {{ page.clinic_list_on_feedback_page }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}