{% extends  "page.html.twig" %}


{% block globalContent %}
  {% set current_url = url('<current>') %}
  <div class="content{% block additionalContentClass %}{% endblock %}">
    <div class="top __1{{ 'stati' in current_url|render|render ? ' fix_top__1' : '' }}">
      <div class="wrapper">
        {{ page.breadcrumbs }}
        <h1>{{ page.header }}</h1>
        {% if anchors is defined %}
          <div class="anchor-button-wrapper">
            {% for anchor in anchors %}
              <span data-anchor="{{ anchor.selector }}">{{ anchor.name }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    {% block content %}
      <div class="content_main">
        <div class="wrapper">
          <div class="services">
            {{ page.content }}
          </div>
        </div>
        {% if service_price is defined %}
          <div class="service-detail_price service_page">
            <div class="wrapper">
              <div class="service-detail_heading">
                {% if service_price_block_header is defined %}
                  <h2>{{ service_price_block_header|render|striptags }}</h2>
                {% endif %}
                <a href="/price{{ service_price_last_part_url is defined ? '/' ~ service_price_last_part_url : '' }}"
                   class="service-detail_more">Прайс-лист на все услуги</a>
              </div>
              {{ service_price }}
              <div class="service-detail_only-mobile">
                <a href="/price{{ service_price_last_part_url is defined ? '/' ~ service_price_last_part_url : '' }}"
                   class="service-detail_more">Прайс-лист на все услуги</a>
              </div>
            </div>
          </div>
        {% endif %}
        {% if not hideFreeConsultBlock %}
          {{ page.free_consultation_on_service_page }}
        {% endif %}
        {{ page.doctor_list_on_service_type_page }}
        {{ page.review_list_on_service_type_page }}
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block afterFooterAdd %}
  <div class="forms mfp-hide" id="free-consult-form-on-service-page">
    <form id="free-consult-form-on-service-page-form" action="/keep-calm-custom-form-handler" class="form" method="post" data-success_form="#form-normal">
      <div class="wait-form free-consult-wait-form"></div>
      <input type="hidden" name="token" class="token">
      <input type="hidden" name="action" class="captcha-action">
      <input type="hidden" name="formName" value="freeConsultService">
      <div class="h4 form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</div>

      <div class="form_item">
        <label class="form_label">Ваше имя</label>

        <div class="form_data">
          <input type="text" name="name" class="form_input">
        </div>
      </div>

      <div class="form_item">
        <label class="form_label">Номер телефона</label>

        <div class="form_data">
          <input type="tel" name="phone" class="form_input">
        </div>
      </div>

      <div class="form_button">
        <button type="submit" class="button g-recaptcha"
                data-sitekey="6LdLQo0UAAAAAAEBcbkJeVNeB3x6wRhY_c8_KE1x"
                data-callback="YourOnSubmitFn">
          заказать звонок
        </button>
      </div>
    </form>

    <button type="button" class="forms_close popup-close"></button>
  </div>
{% endblock %}
