{% extends  "page.html.twig" %}

{% block content %}
    <div class="clinic">
        {{ page.content }}
    </div>
    {{ page.doctor_list_on_clinic_page }}
    <div class="wrapper">
        <div class="reviews __padding __padding-min">
            <h2>О нас говорят клиенты</h2>

            <div class="reviews_block">
                <div class="reviews_left">
                    <div class="reviews_items">
                        {{ reviews }}
                    </div>
                </div>

                <div class="reviews_right" id="form-review">
                    <div class="wait-form"></div>
                    <form id="review-form-on-clinic-page" enctype="multipart/form-data" action="/keep-calm-custom-form-handler" data-success_form="#form-review-send" class="reviews_form">
                        <input type="hidden" name="token" class="token">
                        <input type="hidden" name="action" class="captcha-action">
                        <input type="hidden" name="formName" value="review">
                        <div class="reviews_form-title">Оставить отзыв</div>

                        <div class="reviews_form-item">
                            <label class="reviews_label">Доктор</label>

                            <div class="reviews_form-data">
                                <select name="doctor" required>
                                    {% for nid,doctor in doctors %}
                                        <option value="{{ nid }}">{{ doctor }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="reviews_form-item">
                            <label class="reviews_label">Клиника</label>

                            <div class="reviews_form-data">
                                <select name="clinic" required>
                                    {% for nid,clinic in clinics %}
                                        <option value="{{ nid }}">{{ clinic }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="reviews_form-item __offset-min">
                            <label class="reviews_label">Фамилия И. О.</label>

                            <div class="reviews_form-data">
                                <input type="text" name="fio" class="review_form_item-fio" placeholder="Иванов И. И." required />
                            </div>
                        </div>

                        <div class="reviews_form-item __offset-min">
                            <label class="reviews_label">Ваш отзыв</label>

                            <div class="reviews_form-data">
                                <textarea name="review-text" required class="reviews_area"></textarea>
                            </div>
                        </div>

                        <div class="reviews_form-item __offset-min-2">
                            <div class="reviews_row">
                                <div class="reviews_col">
                                    <input id="photos" name="photos" type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                                </div>
                                <div class="reviews_col">
                                    <button type="submit" class="button">Оставить отзыв</button>
                                </div>
                            </div>
                        </div>

                        <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
