{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content">
        <div class="top __1 __border-none">
            <div class="wrapper">
                {{ page.breadcrumbs }}
                <h1>{{ page.header }}</h1>
            </div>
        </div>

        <div class="content_main">
            <div class="wrapper">
                <div class="all-clinic">
                    <div class="all-clinic_carts-clone"></div>
                </div>
            </div>

            <div class="wrapper">
                <div class="content_row">
                    <div class="content_left">
                        <div class="all-clinic">
                            <div class="all-clinic_carts">
                                <div class="all-clinic_cart">
                                    <div class="all-clinic_cart-title">Единый телефон</div>
                                    <a href="tel:+74952152442" class="all-clinic_cart-phone">+7 (495) 215-24-42</a>
                                    <a href="#form-recall" class="all-clinic_cart-link popup">Заказать звонок</a>
                                </div>
                                <div class="all-clinic_cart">
                                    <div class="all-clinic_cart-title">График работы клиник</div>
                                    <div class="all-clinic_cart-day">понедельник-пятница — <strong>с 9:00 до 21:00</strong></div>
                                    <div class="all-clinic_cart-day">суббота и воскресенье — <strong>с 10:00 до 18:00</strong></div>
                                </div>
                            </div>

                            <div class="all-clinic_content">
                                <div class="clinics ">
                                    {% if centralClinic is defined %}
                                        <div class="clinics_content __base __base-2">
                                            <h4>Центральная клиника</h4>

                                            <div class="clinics_items">
                                                <div class="clinics_item">
                                                    <div class="clinics_heading">{{ centralClinic.title|raw }}</div>

                                                    <div class="clinics_item-content">
                                                        <div class="clinics_image">
                                                            {% if centralClinic.img is defined  %}
                                                                <img src="{{ centralClinic.img|raw }}" alt="">
                                                            {% endif %}
                                                        </div>

                                                        <div class="clinics_text">
                                                            <p>{{ centralClinic.metro.0.value is defined ? centralClinic.metro.0.value : '' }}</p>

                                                            <p>{{ centralClinic.city }}, <br>{{ centralClinic.address.0.value }}</p>

                                                            <a href="{{ centralClinic.url }}">подробнее</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {{ page.content }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content_right">
                        <div class="all-clinic_maps">
                            <script type="text/javascript" charset="utf-8" async
                                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A94f01faecc688647b81058896fb8bba534a5d267b296f409293f1b64d10ce028&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}