{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="wrapper">
            <div class="doctor_cart">
                {{ page.breadcrumbs }}
                <h1 class="doctor_name">{{ page.header }}</h1>
                <div class="doctor_description">
                    {{ doctorDescription }}
                </div>
                <img class="doctor_image" src="{{ doctorPhotoUrl|raw }}" alt="">
            </div>
        </div>
        {% block content %}
            <div class="content_main __min">
                <div class="wrapper">
                    <div class="page">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}