{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="main">
        <div class="main_slider">
            <div>
                <div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
                    <div class="wrapper main_wrapper">
                        <div class="main_title">
                            Коронки E-max
                            <span>со скидкой 30 %</span>
                        </div>

                        <div class="main_text">
                            <p>Изготовление коронок по технологии CAD/CAM</p>
                            <p>Акция действует с 8 февраля 2018</p>
                        </div>

                        <div class="main_buttons">
                            <a href="" class="button main_button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
                    <div class="wrapper main_wrapper">
                        <div class="main_title">
                            Коронки E-max
                            <span>со скидкой 30 %</span>
                        </div>

                        <div class="main_text">
                            <p>Изготовление коронок по технологии CAD/CAM</p>
                            <p>Акция действует с 8 февраля 2018</p>
                        </div>

                        <div class="main_buttons">
                            <a href="" class="button main_button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="main_item" style="background-image: url({{ directory }}/img/slider.jpg)">
                    <div class="wrapper main_wrapper">
                        <div class="main_title">
                            Коронки E-max
                            <span>со скидкой 30 %</span>
                        </div>

                        <div class="main_text">
                            <p>Изготовление коронок по технологии CAD/CAM</p>
                            <p>Акция действует с 8 февраля 2018</p>
                        </div>

                        <div class="main_buttons">
                            <a href="" class="button main_button">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper main_arrows"></div>
    </div>

    <section class="about-num">
        <div class="wrapper">
            <h2>О нас в цифрах</h2>

            <div class="about-num_items">
                <div class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">3</div>
                        <p class="about-num_text">клиники в <br>Москве</p>
                    </div>
                </div>
                <div class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">20</div>
                        <p class="about-num_text">лет успешной <br>работы</p>
                    </div>
                </div>
                <div class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">10000</div>
                        <p class="about-num_text">пациентов <br>в год</p>
                    </div>
                </div>
                <div class="about-num_item">
                    <div class="about-num_info">
                        <div class="about-num_cnt">170</div>
                        <p class="about-num_text">отзывов <br>на сайте</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="service">
        <div class="wrapper">
            <h2>Наши услуги</h2>

            <div class="service_content">
                <div class="service_info">
                    <div>
                        <strong>Доказано, что здоровые зубы одно <br>из главных условий долголетия. <br>И что
                            несвоевременное обращение <br>к стоматологу зачастую приводит <br>к возникновению других
                            <br>заболеваний.</strong>
                    </div>

                    <p>При этом их спектр довольно обширен <br>– от нарушений работы желудка и <br>печени до
                        возникновения различных <br>опухолей. Поэтому если появляются <br>даже малейшие проблемы,
                        связанные <br>с зубами, необходимо немедленно <br>обращаться к специалистам.</p>

                    <a href="#form-order" class="button service_btn popup">записаться на прием</a>
                </div>

                <div class="service_items">
                    <a href="/service/medication" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/1.svg" width="50" height="53"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Лечение</header>
                                <p>Кариес, пульпит</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/implantation" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/2.svg" width="46" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Имплантология</header>
                                <p>Протезы на имплантах</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/prosthesis" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/3.svg" width="50" height="56"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Протезирование</header>
                                <p>Металлокерамика, съемное</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/surgery" class="service_item __mobile-visible">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/4.svg" width="45" height="65"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Хирургия</header>
                                <p>Удаление, оперирование</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/orthodontia" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/5.svg" width="50" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Ортодонтия</header>
                                <p>Исправление прикуса</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/aesthetics" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/6.svg" width="49" height="58"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Гигиена</header>
                                <p>Отбеливание, чистка</p>
                            </div>
                        </div>
                    </a>
                    <a href="/service/paedodontia" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/7.svg" width="59" height="55"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Детская стоматология</header>
                                <p>Для детей любого возраста</p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/8.svg" width="57" height="54"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Диагностика</header>
                                <p>Бесплатная консультация</p>
                            </div>
                        </div>
                    </a>
                    <a href="" class="service_item">
                        <div class="service_data">
                            <div class="service_image">
                                <object data="{{ directory }}/img/service/9.svg" width="48" height="52"></object>
                            </div>

                            <div class="service_text">
                                <header class="service_heading">Лечение в рассрочку</header>
                                <p>Рассрочка без процентов</p>
                            </div>
                        </div>
                    </a>
                </div>

                <a href="" class="button-light service_show-btn">смотреть весь список услуг</a>
            </div>
        </div>
    </div>

    <div class="clinics">
        <div class="wrapper">
            <header class="clinics_header">
                <h2>Наши клиники в</h2>
                <div class="clinics_city">
                    <span class="js-city">Москве</span>

                    <ul class="js-cities clinics_cities">
                        <li><a href="#city-1">Москве</a></li>
                        <li><a href="#city-2">Нижнем новгороде</a></li>
                        <li><a href="#city-3">Самаре</a></li>
                    </ul>
                </div>
            </header>
        </div>

        <div class="js-map clinics_data active" id="city-1">
            <div class="wrapper">
                <div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
            </div>

            <div class="clinics_map-container">
                <div class="clinics_map" id="map-1"></div>

                <div class="clinics_content">
                    <div class="wrapper clinics_wrapper">
                        <div class="clinics_items">
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-map clinics_data" id="city-2">
            <div class="wrapper">
                <div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
            </div>

            <div class="clinics_map-container">
                <div class="clinics_map" id="map-2"></div>

                <div class="clinics_content">
                    <div class="wrapper clinics_wrapper">
                        <div class="clinics_items">
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Нижний новгород</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="js-map clinics_data" id="city-3">
            <div class="wrapper">
                <div class="clinics_city-text">Мы находимся у станций метро Медведково и Бабушкинская</div>
            </div>

            <div class="clinics_map-container">
                <div class="clinics_map" id="map-3"></div>

                <div class="clinics_content">
                    <div class="wrapper clinics_wrapper">
                        <div class="clinics_items">
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Самара</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clinics_item">
                                <h4 class="clinics_heading">Взрослое и детское отделение</h4>

                                <div class="clinics_item-content">
                                    <div class="clinics_image">
                                        <img src="{{ directory }}/img/clinic.jpg" alt="">
                                    </div>

                                    <div class="clinics_text">
                                        <p>метро Медведково</p>

                                        <p>г. Москва, <br>ул. Советская, 30А</p>

                                        <a href="">подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sale">
        <div class="wrapper">
            <h2>Скидки для клиентов</h2>

            <div class="sale_items">
                <div class="sale_item">
                    <div class="sale_cart">
                        <a href="" class="sale_cart-content">
                            <div class="sale_num">№ 000045</div>

                            <div class="sale_logo">
                                <img src="{{ directory }}/img/logo.svg" alt="">
                            </div>

                            <div class="sale_cart-text">
                                <p>Скидка на лечение - <span>10%</span></p>
                                <p>Скидка на протезирование - <span>5%</span></p>
                            </div>
                        </a>

                        <div class="sale_cart-bottom">
                            <p>Карта действительна в любой клинике сети. </p>
                            <p>Подробности на сайте <a href="">www.kariesy.net</a></p>
                        </div>
                    </div>
                </div>

                <a href="" class="sale_item">
                    <div class="sale_base" style="background-image: url({{ directory }}/img/sale_kid.jpg)">
                        <p class="sale_main-txt">Скидка на детскую <br>стоматологию</p>
                        <div class="sale_cnt">- 25%</div>
                    </div>
                </a>

                <a href="" class="sale_item">
                    <div class="sale_base" style="background-image: url({{ directory }}/img/sale_birth.jpg)">
                        <p class="sale_main-txt">Дарим скидку <br>в день рождения</p>
                        <div class="sale_cnt">- 30%</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}