<header class="header">
    <div class="wrapper header_wrapper">
        <div class="header_item">
            <a href="/" class="header_logo">
                <img width="219" height="55" src="/{{ directory }}/img/logo-header.png" alt="">
            </a>
        </div>

        <div class="header_item">
            <div class="header_time" id="header-time">
                <p>
                    <span>Будние дни:</span>
                    <i>пн-пт:</i>
                    с 9:00 до 21:00
                </p>
                <p>
                    <span>Выходные:</span>
                    <i>сб-вс:</i>
                    с 10:00 до 18:00
                </p>
            </div>
        </div>

        <div class="header_item">
            <div class="header_phone">
                <a href="tel:777" class="header_tel" id="header-tel">+7 (495) 215-24-42</a>
                <div class="header_phone-text">Единая справочная в Москве</div>
            </div>
        </div>

        <div class="header_item">
            <div class="header_buttons">
                <a href="#form-recall" class="button-light header_recall-btn popup" id="header-recall-btn">Заказать
                    звонок</a>
                <a href="#form-order" class="button header_order-btn popup" id="header-order-btn">записаться на
                    прием</a>
            </div>
        </div>

        <div class="header_item __mobile">
            <div class="header_mobile">
                <a href="tel:+74952152442" class="header_mobile-tel"></a>
                <button class="header_mobile-nav">
                    <i></i><i></i><i></i>
                </button>
            </div>
        </div>
    </div>
</header>

<nav class="nav">
    <div class="wrapper nav_wrapper">
        <div class="nav_content">
            {{ page.main_menu }}
            {{ page.second_menu }}
            <form class="nav_search" action="" id="nav-search">
                <div class="nav_search-inner">
                    <input class="nav_input" type="text" placeholder="Поиск по сайту">
                    <button class="nav_btn"></button>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="menu">
    <div class="menu_wrap">
        <div class="menu_top">
            <div class="wrapper">
                <div class="menu_nav-1" data-menu-id="#nav-1"></div>
                <div class="menu_nav-2" data-menu-id="#nav-2"></div>
                <div class="menu_search" data-menu-id="#nav-search"></div>
            </div>
        </div>

        <div class="menu_bottom">
            <div class="wrapper">
                <div class="menu_info">
                    <div class="menu_phone">
                        <div class="menu_tel" data-menu-id="#header-tel"></div>
                        <div class="menu_recall-btn" data-menu-id="#header-recall-btn"></div>
                    </div>

                    <div class="menu_time" data-menu-id="#header-time"></div>
                </div>

                <div class="menu_order-btn" data-menu-id="#header-order-btn"></div>
            </div>
        </div>

        <button class="menu_close"></button>
    </div>
</div>

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="top __1">
            <div class="wrapper">
                {{ page.breadcrumbs }}
                <h1>{{ page.header }}</h1>
            </div>
        </div>
        {% block content %}
            <div class="content_main __min">
                <div class="wrapper">
                    <div class="page">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

<footer class="footer">
    <div class="footer_top __1">
        <div class="wrapper">
            <div class="footer_top-content">
                <div class="footer_top-left">
                    <div class="footer_top-heading">Мы работаем для вас без выходных!</div>
                    <p class="footer_top-descr">Записаться можно по телефону:</p>
                </div>
                <div class="footer_top-right">
                    <a href="tel:777" class="footer_top-phone">+7 (495) 215-24-42</a>
                    <a href="#form-recall" class="button footer_top-btn popup">заказать звонок</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_middle">
        <div class="wrapper">
            <div class="footer_row __only-flex">
                <div class="footer_col">
                    <div class="footer_heading">Услуги</div>
                    {{ page.footer_services_menu }}
                </div>
                <div class="footer_col">
                    <div class="footer_heading">Навигация</div>
                    {{ page.footer_navigation_menu }}
                </div>
            </div>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="wrapper">
            <div class="footer_bottom-row">
                <a href="/" class="footer_logo">
                    <img src="/{{ directory }}/img/logo-footer.png" width="219" height="55" alt="">
                </a>

                <div class="footer_copy">© 1998-2017 «Кариесу.нет» ООО «КХЗ»</div>

                <div class="footer_socials">
                    <div class="footer_socials-text">Мы в социальных сетях:</div>

                    <div class="footer_socials-items">
                        <a href=""><img src="/{{ directory }}/img/vk.svg" alt=""></a>
                        <a href=""><img src="/{{ directory }}/img/facebook.svg" alt=""></a>
                        <a href=""><img src="/{{ directory }}/img/insta.svg" alt=""></a>
                        <a href=""><img src="/{{ directory }}/img/youtube.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="forms mfp-hide" id="form-recall">
    <form action="" class="form">
        <h4 class="form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</h4>

        <div class="form_item">
            <label class="form_label">Ваше имя</label>

            <div class="form_data">
                <input type="text" class="form_input">
            </div>
        </div>

        <div class="form_item">
            <label class="form_label">Номер телефона</label>

            <div class="form_data">
                <input type="tel" class="form_input">
            </div>
        </div>

        <div class="form_button">
            <button class="button" type="submit">заказать звонок</button>
        </div>
    </form>

    <button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms mfp-hide" id="form-reviews">
    <form action="" class="reviews_form forms_reviews">
        <div class="reviews_form-title">Оставить отзыв</div>

        <div class="reviews_form-item">
            <label class="reviews_label">Доктор</label>

            <div class="reviews_form-data">
                <select required>
                    <option value="Доктор 1">Доктор 1</option>
                    <option value="Доктор 2">Доктор 2</option>
                </select>
            </div>

            <div class="reviews_star">
                <div class="reviews_star-text __type-2">Оцените доктора:</div>

                <select class="no-select rating">
                    <option></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </select>
            </div>
        </div>

        <div class="reviews_form-item">
            <label class="reviews_label">Клиника</label>

            <div class="reviews_form-data">
                <select required>
                    <option value="Клиника 1">Клиника 1</option>
                    <option value="Клиника 2">Клиника 2</option>
                </select>
            </div>

            <div class="reviews_star">
                <div class="reviews_star-text __type-2">Оцените клинику:</div>

                <select class="no-select rating">
                    <option></option>
                    <option value="1"></option>
                    <option value="2"></option>
                    <option value="3"></option>
                    <option value="4"></option>
                    <option value="5"></option>
                </select>
            </div>
        </div>

        <div class="reviews_form-item __offset-min">
            <label class="reviews_label">Ваш отзыв</label>

            <div class="reviews_form-data">
                <textarea required class="reviews_area"></textarea>
            </div>
        </div>

        <div class="reviews_form-item __offset-min-2">
            <div class="reviews_row">
                <div class="reviews_col">
                    <input type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                </div>
                <div class="reviews_col">
                    <button type="submit" class="button">Оставить отзыв</button>
                </div>
            </div>
        </div>

        <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных
            данных
        </div>
    </form>

    <button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __order mfp-hide" id="form-order">
    <form class="form" action="/formHandler.php" data-success_form="#form-normal">
        <input type="hidden" name="formName" value="appointment">
        <h3 class="form_title">Запись на прием</h3>

        <div class="form_item">
            <label class="form_label">Услуга</label>

            <div class="form_data">
                <select class="service-type" name="service">
                    {% for serviceType in serviceTypesAll %}
                        {# Формируем строку со списком докторов для каждой услуги #}
                        {% set doctorsList = '' %}
                        {% for doctor in serviceType.doctors %}
                            {% set doctorsList = doctorsList ~ doctor.name %}
                            {% if not loop.last %}
                                {% set doctorsList = doctorsList ~ '|' %}
                            {% endif %}
                        {% endfor %}
                        <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}">{{ serviceType.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form_item">
            <label class="form_label">Врач</label>

            <div class="form_data">
                <select class="doctors-select" name="doctor">
                    {% set firstServiceType = serviceTypesAll|first %}
                    {% for doctor in firstServiceType.doctors %}
                        <option value="{{ doctor.name }}" data-doctor-nid="{{ nid }}">{{ doctor.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form_item">
            <label class="form_label">Желаемые дата и время приема</label>

            <div class="form_data">
                <div class="form_row">
                    <div class="form_col">
                        <div class="form_input-block">
                            <input class="form_input date" type="text" name="date">
                        </div>
                    </div>
                    <div class="form_col">
                        <select name="time">
                            <option value="08:00">08:00</option>
                            <option value="08:10">08:10</option>
                            <option value="08:20">08:20</option>
                            <option value="08:30">08:30</option>
                            <option value="08:40">08:40</option>
                            <option value="08:50">08:50</option>
                            <option value="09:00">09:00</option>
                            <option value="09:10">09:10</option>
                            <option value="09:20">09:20</option>
                            <option value="09:30">09:30</option>
                            <option value="09:40">09:40</option>
                            <option value="09:50">09:50</option>
                            <option value="10:00">10:00</option>
                            <option value="10:10">10:10</option>
                            <option value="10:20">10:20</option>
                            <option value="10:30">10:30</option>
                            <option value="10:40">10:40</option>
                            <option value="10:50">10:50</option>
                            <option value="10:00">10:00</option>
                            <option value="11:10">11:10</option>
                            <option value="11:20">11:20</option>
                            <option value="11:30">11:30</option>
                            <option value="11:40">11:40</option>
                            <option value="11:50">11:50</option>
                            <option value="12:00">12:00</option>
                            <option value="12:10">12:10</option>
                            <option value="12:20">12:20</option>
                            <option value="12:30">12:30</option>
                            <option value="12:40">12:40</option>
                            <option value="12:50">12:50</option>
                            <option value="13:00">13:00</option>
                            <option value="13:10">13:10</option>
                            <option value="13:20">13:20</option>
                            <option value="13:30">13:30</option>
                            <option value="13:40">13:40</option>
                            <option value="13:50">13:50</option>
                            <option value="14:00">14:00</option>
                            <option value="14:10">14:10</option>
                            <option value="14:20">14:20</option>
                            <option value="14:30">14:30</option>
                            <option value="14:40">14:40</option>
                            <option value="14:50">14:50</option>
                            <option value="15:00">15:00</option>
                            <option value="15:10">15:10</option>
                            <option value="15:20">15:20</option>
                            <option value="15:30">15:30</option>
                            <option value="15:40">15:40</option>
                            <option value="15:50">15:50</option>
                            <option value="16:00">16:00</option>
                            <option value="16:10">16:10</option>
                            <option value="16:20">16:20</option>
                            <option value="16:30">16:30</option>
                            <option value="16:40">16:40</option>
                            <option value="16:50">16:50</option>
                            <option value="17:00">17:00</option>
                            <option value="17:10">17:10</option>
                            <option value="17:20">17:20</option>
                            <option value="17:30">17:30</option>
                            <option value="17:40">17:40</option>
                            <option value="17:50">17:50</option>
                            <option value="18:00">18:00</option>
                            <option value="18:10">18:10</option>
                            <option value="18:20">18:20</option>
                            <option value="18:30">18:30</option>
                            <option value="18:40">18:40</option>
                            <option value="18:50">18:50</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form_item">
            <label class="form_label">Ваш контактный телефон</label>

            <div class="form_data">
                <input name="phone" type="tel" class="form_input" required>
            </div>
        </div>
        <div class="form_item">
            <label class="form_label">Ваше имя</label>

            <div class="form_data">
                <input name="name" type="text" class="form_input" required>
            </div>
        </div>
        <div class="form_item">
            <label class="form_label">Комментарий (необязательно)</label>

            <div class="form_data">
                <textarea name="comment" class="form_area"></textarea>
            </div>
        </div>

        <div class="form_button">
            <button type="submit" class="button">отправить</button>
        </div>
    </form>

    <button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __auth mfp-hide" id="form-auth">
    <form class="form">
        <div class="form_auth-title">Авторизоваться с помощью социальных сетей</div>

        <div class="form_socials">
            <a href=""><img src="{{ directory }}/img/vk.svg" alt=""></a>
            <a href=""><img src="{{ directory }}/img/facebook.svg" alt=""></a>
            <a href=""><img src="{{ directory }}/img/insta.svg" alt=""></a>
            <a href=""><img src="{{ directory }}/img/youtube.svg" alt=""></a>
        </div>
    </form>

    <button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __ok mfp-hide" id="form-call-ok">
    <div class="form">
        <div class="form_image">
            <img src="{{ directory }}/img/ico/ok.svg" width="59" alt="">
        </div>
        <p class="form_ok">Ваш вызов принят!</p>
    </div>

    <button type="button" class="forms_close popup-close"></button>
</div>

<div class="forms __normal mfp-hide" id="form-normal">
    <div class="form">
        <div class="form_normal">Ваша заявка принята!</div>
        <p class="form_normal-text">В ближайшее время с Вами свяжутся наши специалисты для подтверждения запроса</p>
    </div>

    <button type="button" class="forms_close popup-close"></button>
</div>

{% block afterFooterAdd %}
{% endblock %}