{% extends  "page.html.twig" %}

{% block globalContent %}
    <div class="content{% block additionalContentClass %}{% endblock %}">
        <div class="doctor">
            <div class="wrapper">
                <div class="doctor_cart">
                    {{ page.breadcrumbs }}
                    <h1 class="doctor_name">{{ page.header }}</h1>
                    <div class="doctor_description">
                        {{ doctorDescription }}
                    </div>
                    {% if doctorPhotoUrl != '' %}
                        <img class="doctor_image" src="{{ doctorPhotoUrl|raw }}" alt="">
                    {% endif %}
                    <div class="doctor_buttons">
                        <div class="doctor_btn">
                            <a href="#form-order-doctor-page-popup" class="button popup">записаться на прием</a>
                        </div>
                        <div class="doctor_btn">
                            <a href="#form-question" class="button-light popup">задать вопрос</a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
                {{ page.content }}
            {% endblock %}
        </div>

        <div class="wrapper">
            <div class="reviews __padding __padding-min">
                <div class="h2">О нас говорят клиенты</div>

                <div class="reviews_block">
                    <div class="reviews_left">
                        <div class="reviews_items">
                            {{ reviews }}
                        </div>
                    </div>

                    <div class="reviews_right" id="form-review">
                        <div class="wait-form"></div>
                        <form id="review-form-on-doctor-page" enctype="multipart/form-data" action="/keep-calm-custom-form-handler" data-success_form="#form-review-send" class="reviews_form" data-eventLabel="form-feedback">
                            <input type="hidden" name="token" class="token">
                            <input type="hidden" name="action" class="captcha-action">
                            <input type="hidden" name="formName" value="review">
                            <div class="reviews_form-title">Оставить отзыв</div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Доктор</label>

                                <div class="reviews_form-data">
                                    <select name="doctor">
                                        {% for nid,doctor in doctors %}
                                            <option value="{{ nid }}">{{ doctor }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item">
                                <label class="reviews_label">Клиника</label>

                                <div class="reviews_form-data">
                                    <select name="clinic">
                                        {% for nid,clinic in clinics %}
                                            <option value="{{ nid }}">{{ clinic }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">Ваше имя</label>

                                <div class="reviews_form-data">
                                    <input type="text" name="fio" class="review_form_item-fio" placeholder="Иванов И. И." required />
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min">
                                <label class="reviews_label">Ваш отзыв</label>

                                <div class="reviews_form-data">
                                    <textarea name="review-text" required class="reviews_area"></textarea>
                                </div>
                            </div>

                            <div class="reviews_form-item __offset-min-2">
                                <div class="reviews_row">
                                    <div class="reviews_col">
                                        <input id="photos" name="photos" type="file" multiple class="jfilestyle" data-input="false" data-text="Приложить фото">
                                    </div>
                                    <div class="reviews_col">
                                        <button type="submit" class="button">Оставить отзыв</button>
                                    </div>
                                </div>
                            </div>

                            <div class="reviews_form-text">Нажимая на кнопку “Оставить отзыв” я даю согласие на обработку персональных данных</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="doctor">
            <div class="doctor_work">
                <div class="wrapper">
                    <div class="doctor_work-row">
                        <div id="form-order-doctor-page" class="doctor_work-col">
                            <div class="wait-form"></div>
                            <form id="form-order-doctor-page-form" class="doctor_form form" action="/keep-calm-custom-form-handler" data-success_form="#form-normal">
                                <input type="hidden" name="token" class="token">
                                <input type="hidden" name="action" class="captcha-action">
                                <input type="hidden" name="formName" value="appointment">
                                <div class="h3 form_title">Запись на прием</div>

                                <div class="form_item">
                                    <label class="form_label">Услуга</label>

                                    <div class="form_data">
                                        <select class="service-type" name="service">
                                            {% for serviceType in serviceTypesAll %}
                                                {# Формируем строку со списком докторов для каждой услуги #}
                                                {% set doctorsList = 'Любой:::no_matter|' %}
                                                {% for doctor in serviceType.doctors %}
                                                    {% set doctorsList = doctorsList ~ doctor.name ~ ':::' ~ doctor.nid %}
                                                    {% if not loop.last %}
                                                        {% set doctorsList = doctorsList ~ '|' %}
                                                    {% endif %}
                                                {% endfor %}
                                                <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}"
                                                        {% if defaultServiceForForm is defined and defaultServiceForForm == serviceType.name %}
                                                            selected
                                                        {% endif %}
                                                >
                                                    {{ serviceType.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form_item">
                                    <label class="form_label">Врач</label>

                                    <div class="form_data">
                                        <select class="doctors-select" name="doctor">
                                            {% set firstServiceType = serviceTypesAll|first %}
                                            <option value="Любой" data-doctor-nid="no_matter">Любой</option>
                                            {% for doctor in firstServiceType.doctors %}
                                                <option value="{{ doctor.name }}" data-doctor-nid="{{ doctor.nid }}">{{ doctor.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form_item">
                                    <label class="form_label">Желаемые дата и время приема</label>

                                    <div class="form_data">
                                        <div class="form_row">
                                            <div class="form_col">
                                                <div class="data_time_stub"></div>
                                                <div class="form_input-block">
                                                    <input class="form_input date" type="text" name="date">
                                                </div>
                                            </div>
                                            <div class="form_col">
                                                <div class="data_time_stub"></div>
                                                <select class="time_intervals" name="time">
                                                    <option value="09:00">09:00</option>
                                                    <option value="09:10">09:10</option>
                                                    <option value="09:20">09:20</option>
                                                    <option value="09:30">09:30</option>
                                                    <option value="09:40">09:40</option>
                                                    <option value="09:50">09:50</option>
                                                    <option value="10:00">10:00</option>
                                                    <option value="10:10">10:10</option>
                                                    <option value="10:20">10:20</option>
                                                    <option value="10:30">10:30</option>
                                                    <option value="10:40">10:40</option>
                                                    <option value="10:50">10:50</option>
                                                    <option value="11:00">11:00</option>
                                                    <option value="11:10">11:10</option>
                                                    <option value="11:20">11:20</option>
                                                    <option value="11:30">11:30</option>
                                                    <option value="11:40">11:40</option>
                                                    <option value="11:50">11:50</option>
                                                    <option value="12:00">12:00</option>
                                                    <option value="12:10">12:10</option>
                                                    <option value="12:20">12:20</option>
                                                    <option value="12:30">12:30</option>
                                                    <option value="12:40">12:40</option>
                                                    <option value="12:50">12:50</option>
                                                    <option value="13:00">13:00</option>
                                                    <option value="13:10">13:10</option>
                                                    <option value="13:20">13:20</option>
                                                    <option value="13:30">13:30</option>
                                                    <option value="13:40">13:40</option>
                                                    <option value="13:50">13:50</option>
                                                    <option value="14:00">14:00</option>
                                                    <option value="14:10">14:10</option>
                                                    <option value="14:20">14:20</option>
                                                    <option value="14:30">14:30</option>
                                                    <option value="14:40">14:40</option>
                                                    <option value="14:50">14:50</option>
                                                    <option value="15:00">15:00</option>
                                                    <option value="15:10">15:10</option>
                                                    <option value="15:20">15:20</option>
                                                    <option value="15:30">15:30</option>
                                                    <option value="15:40">15:40</option>
                                                    <option value="15:50">15:50</option>
                                                    <option value="16:00">16:00</option>
                                                    <option value="16:10">16:10</option>
                                                    <option value="16:20">16:20</option>
                                                    <option value="16:30">16:30</option>
                                                    <option value="16:40">16:40</option>
                                                    <option value="16:50">16:50</option>
                                                    <option value="17:00">17:00</option>
                                                    <option value="17:10">17:10</option>
                                                    <option value="17:20">17:20</option>
                                                    <option value="17:30">17:30</option>
                                                    <option value="17:40">17:40</option>
                                                    <option value="17:50">17:50</option>
                                                    <option value="18:00">18:00</option>
                                                    <option value="18:10">18:10</option>
                                                    <option value="18:20">18:20</option>
                                                    <option value="18:30">18:30</option>
                                                    <option value="18:40">18:40</option>
                                                    <option value="18:50">18:50</option>
                                                    <option value="19:00">19:00</option>
                                                    <option value="19:10">19:10</option>
                                                    <option value="19:20">19:20</option>
                                                    <option value="19:30">19:30</option>
                                                    <option value="19:40">19:40</option>
                                                    <option value="19:50">19:50</option>
                                                    <option value="20:00">20:00</option>
                                                    <option value="20:10">20:10</option>
                                                    <option value="20:20">20:20</option>
                                                    <option value="20:30">20:30</option>
                                                    <option value="20:40">20:40</option>
                                                    <option value="20:50">20:50</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваш контактный телефон</label>

                                    <div class="form_data">
                                        <input name="phone" type="tel" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Ваше имя</label>

                                    <div class="form_data">
                                        <input name="name" type="text" class="form_input" required>
                                    </div>
                                </div>
                                <div class="form_item">
                                    <label class="form_label">Комментарий (необязательно)</label>

                                    <div class="form_data">
                                        <textarea name="comment" class="form_area"></textarea>
                                    </div>
                                </div>

                                <div class="form_button">
                                    <button type="submit" class="button">отправить</button>
                                </div>
                            </form>
                        </div>
                        <div class="doctor_work-col">
                            {{ page.clinic_list_on_doctor_page }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterFooterAdd %}
    <div class="forms __order mfp-hide" id="form-question">
        <form id="question-for-doctor-form" class="form" action="/keep-calm-custom-form-handler" data-success_form="#form-question-ok">
            <div class="wait-form"></div>
            <input type="hidden" name="token" class="token">
            <input type="hidden" name="action" class="captcha-action">
            <input type="hidden" name="formName" value="question">
            <input type="hidden" name="doctor" value="{{ doctorName }}">
            <div class="h3 form_title">Задать вопрос доктору "{{ doctorName }}"</div>
            <div class="form_item">
                <label class="form_label">Ваш контактный телефон</label>

                <div class="form_data">
                    <input name="phone" type="tel" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваше имя</label>

                <div class="form_data">
                    <input name="name" type="text" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Вопрос</label>

                <div class="form_data">
                    <textarea name="question" class="form_area" required></textarea>
                </div>
            </div>

            <div class="form_button">
                <button type="submit" class="button">отправить</button>
            </div>
        </form>
        <button type="button" class="forms_close popup-close"></button>
    </div>

    <div class="forms __normal mfp-hide" id="form-question-ok">
        <div class="form">
            <div class="form_normal">Ваш вопрос получен!</div>
        </div>

        <button type="button" class="forms_close popup-close"></button>
    </div>

    <div class="forms __order mfp-hide" id="form-order-doctor-page-popup">
        <form id="form-order-doctor-page-popup-form" class="form" action="/keep-calm-custom-form-handler" data-success_form="#form-normal">
            <div class="wait-form"></div>
            <input type="hidden" name="token" class="token">
            <input type="hidden" name="action" class="captcha-action">
            <input type="hidden" name="formName" value="appointment">
            <div class="h3 form_title">Запись на прием</div>

            <div class="form_item">
                <label class="form_label">Услуга</label>

                <div class="form_data">
                    <select class="service-type" name="service">
                        {% for serviceType in serviceTypesAll %}
                            {# Формируем строку со списком докторов для каждой услуги #}
                            {% set doctorsList = 'Любой:::no_matter|' %}
                            {% for doctor in serviceType.doctors %}
                                {% set doctorsList = doctorsList ~ doctor.name ~ ':::' ~ doctor.nid %}
                                {% if not loop.last %}
                                    {% set doctorsList = doctorsList ~ '|' %}
                                {% endif %}
                            {% endfor %}
                            <option value="{{ serviceType.name }}" data-doctor_list="{{ doctorsList }}"
                                    {% if defaultServiceForForm is defined and defaultServiceForForm == serviceType.name %}
                                        selected
                                    {% endif %}
                            >
                                {{ serviceType.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form_item">
                <label class="form_label">Врач</label>

                <div class="form_data">
                    <select class="doctors-select" name="doctor">
                        {% set firstServiceType = serviceTypesAll|first %}
                        <option value="Любой" data-doctor-nid="no_matter">Любой</option>
                        {% for doctor in firstServiceType.doctors %}
                            <option value="{{ doctor.name }}" data-doctor-nid="{{ doctor.nid }}">{{ doctor.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form_item">
                <label class="form_label">Желаемые дата и время приема</label>

                <div class="form_data">
                    <div class="form_row">
                        <div class="form_col">
                            <div class="data_time_stub"></div>
                            <div class="form_input-block">
                                <input class="form_input date" type="text" name="date">
                            </div>
                        </div>
                        <div class="form_col">
                            <div class="data_time_stub"></div>
                            <select class="time_intervals" name="time">
                              <option value="09:00">09:00</option>
                              <option value="09:10">09:10</option>
                              <option value="09:20">09:20</option>
                              <option value="09:30">09:30</option>
                              <option value="09:40">09:40</option>
                              <option value="09:50">09:50</option>
                              <option value="10:00">10:00</option>
                              <option value="10:10">10:10</option>
                              <option value="10:20">10:20</option>
                              <option value="10:30">10:30</option>
                              <option value="10:40">10:40</option>
                              <option value="10:50">10:50</option>
                              <option value="11:00">11:00</option>
                              <option value="11:10">11:10</option>
                              <option value="11:20">11:20</option>
                              <option value="11:30">11:30</option>
                              <option value="11:40">11:40</option>
                              <option value="11:50">11:50</option>
                              <option value="12:00">12:00</option>
                              <option value="12:10">12:10</option>
                              <option value="12:20">12:20</option>
                              <option value="12:30">12:30</option>
                              <option value="12:40">12:40</option>
                              <option value="12:50">12:50</option>
                              <option value="13:00">13:00</option>
                              <option value="13:10">13:10</option>
                              <option value="13:20">13:20</option>
                              <option value="13:30">13:30</option>
                              <option value="13:40">13:40</option>
                              <option value="13:50">13:50</option>
                              <option value="14:00">14:00</option>
                              <option value="14:10">14:10</option>
                              <option value="14:20">14:20</option>
                              <option value="14:30">14:30</option>
                              <option value="14:40">14:40</option>
                              <option value="14:50">14:50</option>
                              <option value="15:00">15:00</option>
                              <option value="15:10">15:10</option>
                              <option value="15:20">15:20</option>
                              <option value="15:30">15:30</option>
                              <option value="15:40">15:40</option>
                              <option value="15:50">15:50</option>
                              <option value="16:00">16:00</option>
                              <option value="16:10">16:10</option>
                              <option value="16:20">16:20</option>
                              <option value="16:30">16:30</option>
                              <option value="16:40">16:40</option>
                              <option value="16:50">16:50</option>
                              <option value="17:00">17:00</option>
                              <option value="17:10">17:10</option>
                              <option value="17:20">17:20</option>
                              <option value="17:30">17:30</option>
                              <option value="17:40">17:40</option>
                              <option value="17:50">17:50</option>
                              <option value="18:00">18:00</option>
                              <option value="18:10">18:10</option>
                              <option value="18:20">18:20</option>
                              <option value="18:30">18:30</option>
                              <option value="18:40">18:40</option>
                              <option value="18:50">18:50</option>
                              <option value="19:00">19:00</option>
                              <option value="19:10">19:10</option>
                              <option value="19:20">19:20</option>
                              <option value="19:30">19:30</option>
                              <option value="19:40">19:40</option>
                              <option value="19:50">19:50</option>
                              <option value="20:00">20:00</option>
                              <option value="20:10">20:10</option>
                              <option value="20:20">20:20</option>
                              <option value="20:30">20:30</option>
                              <option value="20:40">20:40</option>
                              <option value="20:50">20:50</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваш контактный телефон</label>

                <div class="form_data">
                    <input name="phone" type="tel" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Ваше имя</label>

                <div class="form_data">
                    <input name="name" type="text" class="form_input" required>
                </div>
            </div>
            <div class="form_item">
                <label class="form_label">Комментарий (необязательно)</label>

                <div class="form_data">
                    <textarea name="comment" class="form_area"></textarea>
                </div>
            </div>

            <div class="form_button">
                <button type="submit" class="button">отправить</button>
            </div>
        </form>

        <button type="button" class="forms_close popup-close"></button>
    </div>
{% endblock %}
