{% if (view_mode == 'teaser') %}
    <div class="reviews_item">
        <div class="reviews_top">
            <div class="reviews_human">
                <div class="reviews_image">
                </div>

                <div class="reviews_human-content">
                    {% set nameParts = label|render|striptags|split('-') %}
                    <div class="reviews_name">{{ nameParts.0 }}</div>
                    {% set createdDate = node.getCreatedTime|format_date('rus') %}
                    <div class="reviews_date">{{ createdDate }}</div>
                </div>
            </div>

            <ul class="reviews_about">
                {% set doctorNid = content.field_doctor['#cache'].tags.0|split(':').1 %}
                {% if content.field_doctor|render|striptags != '' %}
                    <li>{{ node.field_doctor.getvalue|length > 1 ? 'О врачах:' : 'О враче:' }}{{ content.field_doctor }}</li>
                {% elseif unpublishedDoctors is defined and unpublishedDoctors[doctorNid] is defined %}
                    <li>О враче: {{ unpublishedDoctors[doctorNid] }}</li>
                {% endif %}
                {% if content.field_clinic|render|striptags != '' %}
                    <li>Клиника: {{ content.field_clinic }}</li>
                {% endif %}
            </ul>
        </div>

        <div class="reviews_text">
          {{ content.field_review_text }}
          {% if clinik_yandex_map_id is defined and clinik_yandex_map_id != '' %}
            <a href="//yandex.ru/maps/org/kariyesu_net/{{ clinik_yandex_map_id }}/">Посмотреть оригинал на Яндекс.Картах</a>
          {% endif %}
        </div>

        {{ content.field_photos_of_review }}

        {% if content.field_answer_text|render|striptags|trim %}
            <div class="answer_block __offset-left">
                <div class="answer_human">
                    <div class="answer_human-info">
                        {% if content.field_answer_name|render|trim %}
                            <div class="answer_name">{{ content.field_answer_name }}</div>
                        {% endif %}
                        {% if content.field_answer_info|render|trim %}
                            <div class="answer_info">{{ content.field_answer_info }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="answer_data">
                    {{ content.field_answer_text }}
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
    {%
        set classes = [
        'node',
        'node--type-' ~ node.bundle|clean_class,
        node.isPromoted() ? 'node--promoted',
        node.isSticky() ? 'node--sticky',
        not node.isPublished() ? 'node--unpublished',
        view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    ]
    %}
    {{ attach_library('classy/node') }}
    <div{{ attributes.addClass(classes) }}>

        {{ title_prefix }}
        {% if not page %}
            <h2{{ title_attributes }}>
                <a href="{{ url }}" rel="bookmark">{{ label }}</a>
            </h2>
        {% endif %}
        {{ title_suffix }}

        {% if display_submitted %}
            <footer class="node__meta">
                {{ author_picture }}
                <div{{ author_attributes.addClass('node__submitted') }}>
                    {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
                    {{ metadata }}
                </div>
            </footer>
        {% endif %}

        <div{{ content_attributes.addClass('node__content') }}>
            {{ content }}
        </div>

    </div>
{% endif %}
