{% if (view_mode == 'teaser') %}
  <div class="services_item article_item">
    {% if not content.field_image.isEmpty() %}
      <div class="article_image">
        <a class="services_link" href="{{ url }}">
          <img src="{{ file_url(node.field_article_image.entity.fileuri) }}" alt="">
        </a>
      </div>
    {% endif %}
    <div class="article_item_inner">
      <header class="services_header"><div class="services_left">
          <div class="services_base-text">
            <div class="h4"><a href="{{ url }}">{{ label }}</a></div>
          </div>
        </div>
      </header>
      <div class="services_text">
        {{ node.body.summary }}
        <div class="services_mobile">
          <a class="services_link" href="{{ url }}">подробнее</a>
        </div>
      </div>
    </div>
  </div>
{% else %}
  <article>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    <div{{ content_attributes }}>
      {% set free_consult_block = '<div id="block-besplatnayakonsultaciya" class="article_free_consult">
    <div class="free-consultation">
      <div class="free-consultation-item custom-block-header">Бесплатная консультация</div>
      <div class="free-consultation-item check-marker-list">
        <div class="checker-mark-element">30-40 минут</div>
        <div class="checker-mark-element">осмотр и диагностика</div>
        <div class="checker-mark-element">план лечения и стоимость</div>
      </div>
      <div class="free-consultation-item"><a class="button popup" data-eventlabel="form-price" href="#free-consult-form-on-article-page">записаться на прием</a></div>
    </div>
  </div>' %}
      {{ content|without('field_article_author', 'field_tags', 'field_relevant_services', 'field_article_image')|render|replace({'%free_consult%': free_consult_block})|raw }}
    </div>
    {% if article_author_name is defined %}
      <div class="article_author">
        <div>Автор статьи:</div>
        <div><a href="/stati?author={{ article_author_nid }}">{{ article_author_name }}</a>{% if article_author_specializations %}, врач {% for specialization in article_author_specializations %}{{ specialization.value }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}</div>
      </div>
    {% endif %}
    <div class="tags">
      {% for tag in node.field_tags %}
        <a href="/stati?tags={{ tag.entity.name.value }}">{{ tag.entity.name.value }}</a>
      {% endfor %}
    </div>
  </article>
{% endif %}

<div class="forms mfp-hide" id="free-consult-form-on-article-page">
  <form id="free-consult-form-on-article-page-form" action="/keep-calm-custom-form-handler" class="form" method="post" data-success_form="#form-normal">
    <div class="wait-form free-consult-wait-form"></div>
    <input type="hidden" name="token" class="token">
    <input type="hidden" name="action" class="captcha-action">
    <input type="hidden" name="formName" value="freeConsultArticle">
    <div class="h4 form_title __margin forms_title">Оставьте ваш телефон <br>и мы свяжемся с вами</div>

    <div class="form_item">
      <label class="form_label">Ваше имя</label>

      <div class="form_data">
        <input type="text" name="name" class="form_input">
      </div>
    </div>

    <div class="form_item">
      <label class="form_label">Номер телефона</label>

      <div class="form_data">
        <input type="tel" name="phone" class="form_input">
      </div>
    </div>

    <div class="form_button">
      <button type="submit" class="button g-recaptcha"
              data-sitekey="6LdLQo0UAAAAAAEBcbkJeVNeB3x6wRhY_c8_KE1x"
              data-callback="YourOnSubmitFn">
        заказать звонок
      </button>
    </div>
  </form>

  <button type="button" class="forms_close popup-close"></button>
</div>
