{% if view_mode == 'short_list' %}
  <div class="services_item">
    <header class="services_header">
      <div class="services_left">
        <div class="services_base-text">
          <div class="h4">
            <a href="{{ url }}">{{ label }}</a>
          </div>
          {% set stock_date_end_parts = node.field_date_stock_end.value|raw|split('-') %}
          {% if (stock_date_end_parts[0] < "now"|date("Y") or stock_date_end_parts[1] < "now"|date("m") or stock_date_end_parts[2] < "now"|date("d")) %}
            <p class="ended">акция закончилась</p>
          {% else %}
            <p>срок действия акции до {{ stock_date_end_parts[2] }}.{{ stock_date_end_parts[1] }}.{{ stock_date_end_parts[0] }}</p>
          {% endif %}
        </div>
      </div>
    </header>
    <div class="services_text">
      {{ node.field_stock_preview.value|raw }}
      <div class="services_mobile">
        <a class="services_link" href="{{ url }}">подробнее</a>
      </div>
    </div>
  </div>
{% else %}
  {% if content.field_stock_oblozhka['#items'].entity.uri.value is not empty or content.field_stock_description|render is not empty %}
    <div class="stock-detail_top"
         style="background-image: url({{ file_url(content.field_stock_oblozhka['#items'].entity.uri.value) }})">
      <div class="wrapper">
        <img class="stock-detail_top-image" src="{{ file_url(content.field_oblozhka['#items'].entity.uri.value) }}"
             alt="">
        {% if content.field_stock_description|render %}
          <div class="stock-detail_about">
            {{ content.field_stock_description }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if stock_price is defined %}
    <div class="stock-detail_price">
      <div class="wrapper">
        <div class="stock-detail_heading">
          <h2>{{ content.field_stock_zagolovok_bloka_cen|render|striptags }}</h2>
          <a href="/price{{ stock_price_last_part_url is defined ? '/' ~ stock_price_last_part_url : '' }}"
             class="stock-detail_more">Прайс-лист на все услуги</a>
        </div>
        {{ stock_price }}
        <div class="stock-detail_only-mobile">
          <a href="/price{{ stock_price_last_part_url is defined ? '/' ~ stock_price_last_part_url : '' }}"
             class="stock-detail_more">Прайс-лист на все услуги</a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if content.field_stock_text|render %}
    <div class="service-detail_block full-width-item-wrapper">
      <div class="wrapper">
        <div class="service-detail_row">
          {{ content.field_stock_text }}
        </div>
      </div>
    </div>
  {% endif %}
{% endif %}
