{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<div class="doctor_about">
    <div class="wrapper">
        <div class="doctor_row">
            <div class="doctor_col">
                <h2 class="doctor_about-title">О враче</h2>

                <div class="doctor_about-text">
                    <p>Будучи стоматологом до мозга костей, я являюсь фанатом своей профессии и в качестве фундаментального принципа своей работы выбираю «Sensus <br>communis» – здравый смысл: оптимальное сочетание лишь тех техник лечения, которые будут максимально эффективными в каждом конкретном, индивидуальном случае.
                        <br><br>
                        Прямолинеен, честен и принципиален как в профессиональной деятельности, так и в повседневности.
                    </p>
                </div>
            </div>
            <div class="doctor_col">
                <h2 class="doctor_about-title">График работы</h2>

                <div class="doctor_plan">
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1"></div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.start is not empty and schedule.firstShift.end is not empty %}
                                <div class="doctor_time">{{ schedule.firstShift.start }}
                                    - {{ schedule.firstShift.end }}</div>
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.start is not empty and schedule.secondShift.end is not empty %}
                                <div class="doctor_time">{{ schedule.secondShift.start }}
                                    - {{ schedule.secondShift.end }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Понедельник</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.moClinic is not empty %}
                                <a href="{{ schedule.firstShift.moClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.moClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.moClinic is not empty %}
                                <a href="{{ schedule.secondShift.moClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.moClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Вторник</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.tuClinic is not empty %}
                                <a href="{{ schedule.firstShift.tuClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.tuClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.tuClinic is not empty %}
                                <a href="{{ schedule.secondShift.tuClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.tuClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Среда</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.weClinic is not empty %}
                                <a href="{{ schedule.firstShift.weClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.weClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.weClinic is not empty %}
                                <a href="{{ schedule.secondShift.weClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.weClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Четверг</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.thClinic is not empty %}
                                <a href="{{ schedule.firstShift.thClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.thClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.thClinic is not empty %}
                                <a href="{{ schedule.secondShift.thClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.thClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Пятница</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.frClinic is not empty %}
                                <a href="{{ schedule.firstShift.frClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.frClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.frClinic is not empty %}
                                <a href="{{ schedule.secondShift.frClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.frClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan-row">
                        <div class="doctor_col-1">
                            <div class="doctor_day">Суббота</div>
                        </div>
                        <div class="doctor_col-2">
                            {% if schedule.firstShift.saClinic is not empty %}
                                <a href="{{ schedule.firstShift.saClinic.url|raw }}"
                                   class="doctor_address">{{ schedule.firstShift.saClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                        <div class="doctor_col-3">
                            {% if schedule.secondShift.saClinic is not empty %}
                                <a href="{{ schedule.secondShift.saClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.saClinic.name }}</a>
                            {% else %}
                                &mdash;
                            {% endif %}
                        </div>
                    </div>
                    <div class="doctor_plan __cloned">
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1"></div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.start is not empty and schedule.firstShift.end is not empty %}
                                    <div class="doctor_time">{{ schedule.firstShift.start }}
                                        - {{ schedule.firstShift.end }}</div>
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.start is not empty and schedule.secondShift.end is not empty %}
                                    <div class="doctor_time">{{ schedule.secondShift.start }}
                                        - {{ schedule.secondShift.end }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Понедельник</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.moClinic is not empty %}
                                    <a href="{{ schedule.firstShift.moClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.moClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.moClinic is not empty %}
                                    <a href="{{ schedule.secondShift.moClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.moClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Вторник</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.tuClinic is not empty %}
                                    <a href="{{ schedule.firstShift.tuClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.tuClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.tuClinic is not empty %}
                                    <a href="{{ schedule.secondShift.tuClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.tuClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Среда</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.weClinic is not empty %}
                                    <a href="{{ schedule.firstShift.weClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.weClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.weClinic is not empty %}
                                    <a href="{{ schedule.secondShift.weClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.weClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Четверг</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.thClinic is not empty %}
                                    <a href="{{ schedule.firstShift.thClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.thClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.thClinic is not empty %}
                                    <a href="{{ schedule.secondShift.thClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.thClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Пятница</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.frClinic is not empty %}
                                    <a href="{{ schedule.firstShift.frClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.frClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.frClinic is not empty %}
                                    <a href="{{ schedule.secondShift.frClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.frClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Суббота</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.saClinic is not empty %}
                                    <a href="{{ schedule.firstShift.saClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.saClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.saClinic is not empty %}
                                    <a href="{{ schedule.secondShift.saClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.saClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="doctor_info">
    <div class="wrapper">
        <div class="doctor_row">
            <div class="doctor_col">
                <h2 class="doctor_about-title">Курсы повышения квалификации</h2>

                <ul class="doctor_list">
                    <li class="__mobile-visible">Мезиальная окклюзия - 2003</li>
                    <li class="__mobile-visible">Физиологические и клинические аспекты лечения технологией "ультраслабых сил" - 2004</li>
                    <li class="__mobile-visible">Новые горизонты в ортодонтии и дентальной стоматологии - 2005</li>
                    <li class="__mobile-visible">XII Съезд ортодонтов России - 2009</li>
                    <li class="__mobile-visible">Базовый курс по имплантации - 2011</li>
                    <li class="__mobile-visible">Реабилитация пациентов высоэстетичными несъемными ортопедическими конструкицями - 2011</li>
                    <li class="__mobile-visible">Clinical aspects of implant treatment plans in the complex prosthodontic treatment - 2012</li>
                    <li>Tooth preparations for prosthetic restorations - 2012</li>
                    <li>Эстетика или функция при протезировании в переднем отделе - 2013</li>
                    <li>Семинар по лингвальной техники IN-OVATION L - 2013</li>
                    <li>Мастера керамики. Эстетика и функция при протезировании зубов - 2013</li>
                    <li>Ортодонтия 21 Века с индивидуальной брекет-системой Insignia - 2013</li>
                    <li>Общий курс по современной диагностике и лечению ортодонтических пациентов - 2013</li>
                    <li>Лингвальная технология Stb - эстетика без компромиссов - 2014</li>
                </ul>

                <div class="doctor_more">+ Показать еще</div>
            </div>

            <div class="doctor_col">
                <h2 class="doctor_about-title">Дипломы и сертификаты</h2>

                <div class="doctor_images">
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="doctor_image-item">
                            <div class="doctor_image-content">
                                <a href="img/sert.jpg" class="popup-image">
                                    <img src="img/sert.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>