{% if (view_mode == 'short_list') %}
    <div class="doctors-more_item" style="background-image: url({{ file_url(node.field_foto.entity.fileuri) }})">
        <div class="doctors-more_content">
            <div class="doctors-more_name">
                {% set doctorNameParts = node.label|striptags|split(' ') %}
                {% for doctorNamePart in doctorNameParts %}
                    {% if loop.first %}
                        <strong>{{ doctorNamePart }}</strong>
                    {% else %}
                        {{ doctorNamePart }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="doctors-more_text">
                {%- for specialization in node.field_specialization.getvalue -%}
                    {%- if loop.first == true -%}
                        {{- specialization.value|capitalize -}}
                    {%- else -%}
                        {{- specialization.value -}}
                    {%- endif -%}
                    {%- if not loop.last -%}
                        ,&nbsp;
                    {%- endif -%}
                {%- endfor -%}
            </div>
            <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="doctors-more_link">О враче</a>
        </div>
    </div>
{% elseif (view_mode == 'teaser') %}
    {% set viewIndex = 0 %}
    {% for viewItem in view.result if viewItem.nid == node.id %}
        {% set viewIndex = viewItem.index %}
    {% endfor %}
    <div class="doctors_item {{ viewIndex < 4 ? '__mobile-visible' : '' }}" style="background-image: url({{ file_url(node.field_foto.entity.fileuri) }})">
        <div class="doctors_content">
            <div class="doctors_name">
                {% set doctorNameParts = node.label|striptags|split(' ') %}
                {% for doctorNamePart in doctorNameParts %}
                    {% if loop.first %}
                        <strong>{{ doctorNamePart }}</strong>
                    {% else %}
                        {{ doctorNamePart }}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="doctors_text">
                {%- for specialization in node.field_specialization.getvalue -%}
                    {%- if loop.first == true -%}
                        {{- specialization.value|capitalize -}}
                    {%- else -%}
                        {{- specialization.value -}}
                    {%- endif -%}
                    {%- if not loop.last -%}
                        ,&nbsp;
                    {%- endif -%}
                {%- endfor -%}
            </div>

            <a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="doctors_link">О враче</a>
        </div>
    </div>
{% else %}
    <div class="doctor_about">
        <div class="wrapper">
            <div class="doctor_row">
                <div class="doctor_col">
                    {% if node.field_about_doctor is not empty %}
                        <h2 class="doctor_about-title">О враче</h2>

                        <div class="doctor_about-text">
                            {{ content.field_about_doctor }}
                        </div>
                    {% endif %}
                </div>
                <div class="doctor_col">
                    <h2 class="doctor_about-title">График работы</h2>

                    <div class="doctor_plan">
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1"></div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.start is not empty and schedule.firstShift.end is not empty %}
                                    <div class="doctor_time">{{ schedule.firstShift.start }}
                                        - {{ schedule.firstShift.end }}</div>
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.start is not empty and schedule.secondShift.end is not empty %}
                                    <div class="doctor_time">{{ schedule.secondShift.start }}
                                        - {{ schedule.secondShift.end }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Понедельник</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.moClinic is not empty %}
                                    <a href="{{ schedule.firstShift.moClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.moClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.moClinic is not empty %}
                                    <a href="{{ schedule.secondShift.moClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.moClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Вторник</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.tuClinic is not empty %}
                                    <a href="{{ schedule.firstShift.tuClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.tuClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.tuClinic is not empty %}
                                    <a href="{{ schedule.secondShift.tuClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.tuClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Среда</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.weClinic is not empty %}
                                    <a href="{{ schedule.firstShift.weClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.weClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.weClinic is not empty %}
                                    <a href="{{ schedule.secondShift.weClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.weClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Четверг</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.thClinic is not empty %}
                                    <a href="{{ schedule.firstShift.thClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.thClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.thClinic is not empty %}
                                    <a href="{{ schedule.secondShift.thClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.thClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Пятница</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.frClinic is not empty %}
                                    <a href="{{ schedule.firstShift.frClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.frClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.frClinic is not empty %}
                                    <a href="{{ schedule.secondShift.frClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.frClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Суббота</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.saClinic is not empty %}
                                    <a href="{{ schedule.firstShift.saClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.saClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.saClinic is not empty %}
                                    <a href="{{ schedule.secondShift.saClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.saClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                        <div class="doctor_plan-row">
                            <div class="doctor_col-1">
                                <div class="doctor_day">Воскресенье</div>
                            </div>
                            <div class="doctor_col-2">
                                {% if schedule.firstShift.suClinic is not empty %}
                                    <a href="{{ schedule.firstShift.suClinic.url|raw }}"
                                       class="doctor_address">{{ schedule.firstShift.suClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                            <div class="doctor_col-3">
                                {% if schedule.secondShift.suClinic is not empty %}
                                    <a href="{{ schedule.secondShift.suClinic.url|raw }}" class="doctor_address">{{ schedule.secondShift.suClinic.name }}</a>
                                {% else %}
                                    &mdash;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="doctor_info">
        <div class="wrapper">
            <div class="doctor_row">
                <div class="doctor_col">
                    {% if node.field_refresher_courses is not empty %}
                        <h2 class="doctor_about-title">Курсы повышения квалификации</h2>

                        {{ content.field_refresher_courses }}
                    {% endif %}
                </div>

                <div class="doctor_col">
                    {% if node.field_diplomas_and_certificates[0] is not empty %}
                        <h2 class="doctor_about-title">Дипломы и сертификаты</h2>

                        <div class="doctor_images">
                            {% for key, certificate in node.field_diplomas_and_certificates %}
                                <div>
                                    <div class="doctor_image-item">
                                        <div class="doctor_image-content">
                                            <a href="{{ content.field_diplomas_and_certificates[key] }}" class="popup-image">
                                                <img src="{{ content.field_diplomas_and_certificates[key] }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}