{#
/**
 * @file
 * Theme override to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ Previous"
 *     or "Next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
    {# Получаем номер последней страницы #}
    {% set lastPageNumber = (items.last.href|split('&')|last|split('=')|last + 1) %}
    <div class="pagination-block answer_bottom">
        <div class="pagination-block_right">
            <div class="pagination">
                {# Print previous item if we are not on the first page. #}
                {% if items.previous %}
                    <a href="{{ items.previous.href }}" class="pagination_prev"></a>
                {% endif %}

                {# Print first item if we are not on the first page. #}
                {% if items.first and items.pages|keys|first != 1 %}
                    <a href="{{ items.first.href }}">1</a>
                {% endif %}

                {# Add an ellipsis if there are further previous pages. #}
                {% if ellipses.previous and items.pages|keys|first > 2 %}
                    <a href="">...</a>
                {% endif %}

                {# Now generate the actual pager piece. #}
                {% for key, item in items.pages %}
                    <a{{ current == key ? ' class="active"'|raw : '' }} href="{{ item.href }}">{{ key }}</a>
                {% endfor %}

                {# Add an ellipsis if there are further next pages. #}
                {% if ellipses.next and items.pages|keys|last < lastPageNumber - 1 %}
                    <a href="">...</a>
                {% endif %}

                {# Print last item if we are not on the last page. #}
                {% if items.last and items.pages|keys|last != lastPageNumber %}
                    <a href="{{ items.last.href }}">{{ lastPageNumber }}</a>
                {% endif %}

                {# Print next item if we are not on the last page. #}
                {% if items.next %}
                    <a href="{{ items.next.href }}" class="pagination_next"></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
