{{ attach_library('schedule_field/jquery-ui-custom') }}
<div class="schedule">
    <input{{ attributes }} />

    {# Выводим поля выбора времени первого графика работы #}
    <div class="first-schedule-block">
        <label>Первая смена</label>
        {% if element.scheduleData.firstShift.start is defined %}
            {% set firstStart = 'value="' ~ element.scheduleData.firstShift.start ~ '"' %}
        {% else %}
            {% set firstStart = '' %}
        {% endif %}
        {% if element.scheduleData.firstShift.end is defined %}
            {% set firstEnd = 'value="' ~ element.scheduleData.firstShift.end ~ '"' %}
        {% else %}
            {% set firstEnd = '' %}
        {% endif %}

        {# Если уже установлены начальные границы смены, то открываем раздел выбора клиники по дням недели #}
        {% if firstStart != '' and firstEnd != '' %}
            {% set showClinicSelectWrapper = '' %}
        {% else %}
            {% set showClinicSelectWrapper = 'style="display: none;"' %}
        {% endif %}
        <input class="first-start-time" type="text" name="first-start-time" data-autoclose="true" {{ firstStart|raw }}> -
        <input class="first-end-time" type="text" name="first-end-time" data-autoclose="true" {{ firstEnd|raw }}>
        <div class="clinic-select-wrapper" {{ showClinicSelectWrapper|raw }}>
            <div class="clinik-select-element">
                <label for="mo_firstSchedule" style="">Понедельник</label>
                <select name="mo_firstSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShift.moClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="tu_firstSchedule">Вторник</label>
                <select name="tu_firstSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShift.tuClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="we_firstSchedule">Среда</label>
                <select name="we_firstSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShift.weClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="th_firstSchedule">Четверг</label>
                <select name="th_firstSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShift.thClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="fr_firstSchedule">Пятница</label>
                <select name="fr_firstSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShift.frClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {# Выводим поля выбора времени второго графика работы #}
    <div class="second-schedule-block">
        <label>Вторая смена</label>

        {% if element.scheduleData.secondShift.start is defined %}
            {% set secondStart = 'value="' ~ element.scheduleData.secondShift.start ~ '"' %}
        {% else %}
            {% set secondStart = '' %}
        {% endif %}
        {% if element.scheduleData.secondShift.end is defined %}
            {% set secondEnd = 'value="' ~ element.scheduleData.secondShift.end ~ '"' %}
        {% else %}
            {% set secondEnd = '' %}
        {% endif %}

        {# Если уже установлены начальные границы смены, то открываем раздел выбора клиники по дням недели #}
        {% if secondStart != '' and secondEnd != '' %}
            {% set showClinicSelectWrapper = '' %}
        {% else %}
            {% set showClinicSelectWrapper = 'style="display: none;"' %}
        {% endif %}
        <input class="second-start-time" type="text" name="second-start-time" data-autoclose="true" {{ secondStart|raw }}>
        - <input class="second-end-time" type="text" name="second-end-time" data-autoclose="true" {{ secondEnd|raw }}>
        <div class="clinic-select-wrapper" {{ showClinicSelectWrapper|raw }}>
            <div class="clinik-select-element">
                <label for="mo_secondSchedule" style="">Понедельник</label>
                <select name="mo_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.moClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="tu_secondSchedule">Вторник</label>
                <select name="tu_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.tuClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="we_secondSchedule">Среда</label>
                <select name="we_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.weClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="th_secondSchedule">Четверг</label>
                <select name="th_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.thClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="fr_secondSchedule">Пятница</label>
                <select name="fr_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.frClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="sa_secondSchedule">Суббота</label>
                <select name="sa_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.saClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="su_secondSchedule">Воскресенье</label>
                <select name="su_secondSchedule">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShift.suClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {# Выводим поля выбора времени первого графика работы в выходные #}
    <div class="first-schedule-weekends-block">
        <label>Первая смена на выходные</label>

        {% if element.scheduleData.firstShiftWeekends.start is defined %}
            {% set firstStartWeekends = 'value="' ~ element.scheduleData.firstShiftWeekends.start ~ '"' %}
        {% else %}
            {% set firstStartWeekends = '' %}
        {% endif %}
        {% if element.scheduleData.firstShiftWeekends.end is defined %}
            {% set firstEndWeekends = 'value="' ~ element.scheduleData.firstShiftWeekends.end ~ '"' %}
        {% else %}
            {% set firstEndWeekends = '' %}
        {% endif %}

        {# Если уже установлены начальные границы смены, то открываем раздел выбора клиники по дням недели #}
        {% if firstStartWeekends != '' and firstEndWeekends != '' %}
            {% set showClinicSelectWrapper = '' %}
        {% else %}
            {% set showClinicSelectWrapper = 'style="display: none;"' %}
        {% endif %}
        <input class="first-start-time-weekends" type="text" name="first-start-time-weekends" data-autoclose="true" {{ firstStartWeekends|raw }}>
        - <input class="first-end-time-weekends" type="text" name="first-end-time-weekends" data-autoclose="true" {{ firstEndWeekends|raw }}>
        <div class="clinic-select-wrapper" {{ showClinicSelectWrapper|raw }}>
            <div class="clinik-select-element">
                <label for="sa_firstScheduleWeekends">Суббота</label>
                <select name="sa_firstScheduleWeekends">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShiftWeekends.saClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="su_firstScheduleWeekends">Воскресенье</label>
                <select name="su_firstScheduleWeekends">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.firstShiftWeekends.suClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {# Выводим поля выбора времени второго графика работы в выходные #}
    <div class="second-schedule-weekends-block">
        <label>Вторая смена на выходные</label>

        {% if element.scheduleData.secondShiftWeekends.start is defined %}
            {% set secondStartWeekends = 'value="' ~ element.scheduleData.secondShiftWeekends.start ~ '"' %}
        {% else %}
            {% set secondStartWeekends = '' %}
        {% endif %}
        {% if element.scheduleData.secondShiftWeekends.end is defined %}
            {% set secondEndWeekends = 'value="' ~ element.scheduleData.secondShiftWeekends.end ~ '"' %}
        {% else %}
            {% set secondEndWeekends = '' %}
        {% endif %}

        {# Если уже установлены начальные границы смены, то открываем раздел выбора клиники по дням недели #}
        {% if secondStartWeekends != '' and secondEndWeekends != '' %}
            {% set showClinicSelectWrapper = '' %}
        {% else %}
            {% set showClinicSelectWrapper = 'style="display: none;"' %}
        {% endif %}
        <input class="second-start-time-weekends" type="text" name="second-start-time-weekends" data-autoclose="true" {{ secondStartWeekends|raw }}>
        - <input class="second-end-time-weekends" type="text" name="second-end-time-weekends" data-autoclose="true" {{ secondEndWeekends|raw }}>
        <div class="clinic-select-wrapper" {{ showClinicSelectWrapper|raw }}>
            <div class="clinik-select-element">
                <label for="sa_secondScheduleWeekends">Суббота</label>
                <select name="sa_secondScheduleWeekends">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShiftWeekends.saClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="su_secondScheduleWeekends">Воскресенье</label>
                <select name="su_secondScheduleWeekends">
                    <option value="">--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        {% if element.scheduleData.secondShiftWeekends.suClinic == nid %}
                            {% set selected = 'selected' %}
                        {% else %}
                            {% set selected = '' %}
                        {% endif %}
                        <option value="{{ nid }}" {{ selected }}>{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
