{{ attach_library('schedule_field/jquery-ui-custom') }}
<div class="schedule">
    <input{{ attributes }} />

    {# Выводим поля выбора времени первого графика работы #}
    <div class="first-schedule-block">
        <label>Первая смена</label>
        <input class="first-start-time" type="text" name="first-start-time" data-autoclose="true" readonly> -
        <input class="first-end-time" type="text" name="first-end-time" data-autoclose="true" readonly>
        <div class="clinic-select-wrapper" style="display: none;">
            <div class="clinik-select-element">
                <label for="mo_firstSchedule" style="">Понедельник</label>
                <select name="mo_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="tu_firstSchedule">Вторник</label>
                <select name="tu_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="we_firstSchedule">Среда</label>
                <select name="we_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="th_firstSchedule">Четверг</label>
                <select name="th_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="fr_firstSchedule">Пятница</label>
                <select name="fr_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="sa_firstSchedule">Суббота</label>
                <select name="sa_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="su_firstSchedule">Воскресенье</label>
                <select name="su_firstSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    {# Выводим поля выбора времени второго графика работы #}
    <div class="second-schedule-block">
        <label>Вторая смена</label>
        <input class="second-start-time" type="text" name="second-start-time" data-autoclose="true" readonly>
        - <input class="second-end-time" type="text" name="second-end-time" data-autoclose="true" readonly>
        <div class="clinic-select-wrapper" style="display: none;">
            <div class="clinik-select-element">
                <label for="mo_secondSchedule" style="">Понедельник</label>
                <select name="mo_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="tu_secondSchedule">Вторник</label>
                <select name="tu_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="we_secondSchedule">Среда</label>
                <select name="we_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="th_secondSchedule">Четверг</label>
                <select name="th_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="fr_secondSchedule">Пятница</label>
                <select name="fr_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="sa_secondSchedule">Суббота</label>
                <select name="sa_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="clinik-select-element">
                <label for="su_secondSchedule">Воскресенье</label>
                <select name="su_secondSchedule">
                    <option value="" disabled selected>--Выберите клинику--</option>
                    {% for nid, clinic in element.clinics %}
                        <option value="{{ nid }}">{{ clinic }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>
