{{ attach_library('fromTilda/jquery-ui') }}

<div class="price">
    <div class="wrapper">
        <ul class="price_types">
            {% for dataItem in data %}
                <li><a href="#{{ dataItem.anchor }}">{{ dataItem.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="price_select"></div>
    </div>
    {% for dataItem in data %}
        <div class="price_content" id="{{ dataItem.anchor }}">
            <div class="wrapper">
                <div class="price_blocks">
                    {% for type in dataItem.types %}
                    <div class="price_block">
                        <header class="price_header">{{ type.name }}</header>

                        <div class="price_items">
                            {# вначале выводим список цен со старыми ценами #}
                            {% for price in type.prices if price.price_old %}
                            <div class="price_item with_old">
                                <div class="price_text">
                                    <div class="price_what">{{ price.name }}</div>
                                    <div class="price_data">{{ price.description|raw }}</div>
                                </div>

                                <div class="price_cnt">
                                    {% if price.price_old %}
                                        <span class="price_old">{{ price.price_old }}</span>
                                    {% endif %}
                                    <span class="price_num">{{ price.price_from is defined ? '<span class="price-from">от</span> ' : '' }}{{ price.price }}</span>
                                    <span class="price_sign">руб</span>
                                </div>
                            </div>
                            {% endfor %}
                            {# вначале выводим список оставшихся цен #}
                            {% for price in type.prices if not price.price_old %}
                            <div class="price_item">
                                <div class="price_text">
                                    <div class="price_what">{{ price.name }}</div>
                                    <div class="price_data">{{ price.description|raw }}</div>
                                </div>

                                <div class="price_cnt">
                                    {% if price.price_old %}
                                        <span class="price_old">{{ price.price_old }}</span>
                                    {% endif %}
                                    <span class="price_num">{{ price.price_from is defined ? '<span class="price-from">от</span> ' : '' }}{{ price.price }}</span>
                                    <span class="price_sign">руб</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="get-cart">
        <div class="wrapper">
            <div class="get-cart_text">Запишись на бесплатную консультацию с составлением плана <br>лечения и получи
                накопительную дисконтную карту
            </div>

            <div class="get-cart_button">
                <a href="#form-recall-price" class="button get-cart_btn popup">записаться на прием</a>
            </div>
        </div>
    </div>
</div>
